Repository equinor/fusion-project-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, backend, frontend, web-server, pipelines

.github/labeler.yml:

documentation:
  - documentation/**

github-actions:
  - .github/**

backend:
  - backend/**

frontend:
  - client/**

web-server:
  - clientBackend/**

pipelines:
  - pipelines/**

chore(snyk): action to update lockfile on snyk PRs (#355)
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: client/package.json to reduce vulnerabilities
  client/package.json
Labels: frontend

chore: skip pre-commit husky
  .github/workflows/update-lockfile.yml
Labels: github-actions

chore(snyk): skip husky pre-commit
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: if head branch matches snyk
  .github/workflows/update-lockfile.yml
Labels: github-actions

chore(snyk): action to trigger on head branch name (#357)
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: client/package.json to reduce vulnerabilities
  client/package.json
Labels: frontend

fix: upgrade @types/react from 17.0.64 to 17.0.65
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

chore(snyk): enable updating lockfile for client
  .github/workflows/client-pr.yml
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: whitespaces
  .github/workflows/client-pr.yml
Labels: github-actions

fix: whitespaces
  .github/workflows/client-pr.yml
Labels: github-actions

fix: type
  .github/workflows/client-pr.yml
Labels: github-actions

fix: wrong step
  .github/workflows/update-lockfile.yml
Labels: github-actions

[Snyk] Upgrade @equinor/fusion-react-styles from 0.5.7 to 0.5.9 (#352)
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

[Snyk] Upgrade @equinor/fusion-components from 2.11.7 to 2.12.0 (#354)
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

fix: upgrade typescript from 5.1.6 to 5.2.2
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

chore(snyk): update lockfile when needed
  .github/actions/check-file-modified/action.yml
  .github/workflows/client-manifest-pr.yml
  .github/workflows/client-pr.yml
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: upgrade @equinor/fusion-observable from 8.0.3 to 8.1.0
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

chore: update dependencies
  client/package.json
  client/yarn.lock
Labels: frontend

chore: update deps other
  client/package.json
  client/yarn.lock
Labels: frontend

fix: favorite link added / to the end of url
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
Labels: frontend

chore: update Issu template with backen url's
  .github/issue_template.md
Labels: github-actions

chore: create CODEOWNERS
  .github/CODEOWNERS
Labels: github-actions

Update issue_template.md
  .github/issue_template.md
Labels: github-actions

chore: update Issu template with backen url's and dod (#365)
  .github/issue_template.md
Labels: github-actions

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github-actions

chore: create CODEOWNERS (#366)
  .github/CODEOWNERS
Labels: github-actions

fix: favorites links
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
Labels: frontend

fix: favorites links (#373)
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
Labels: frontend

Add fusion.integration to application
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
Labels: backend

chore: fusion package update
  client/package.json
  client/packages/portal-client/schema/portal.config.schema.json
  client/yarn.lock
Labels: frontend

core: align global styles with fusion
  client/packages/portal-ui/src/style-provider/globalStyles.ts
Labels: frontend

fix: styles for legacy fusion apps
  legacyAppLoader/package.json
  legacyAppLoader/src/app-loader/components/LegacyAppLoader.tsx
  legacyAppLoader/src/app-loader/components/ProgressLoader.tsx
  legacyAppLoader/src/app-loader/legacy-interopt/components/LegacyFusionWrapper.tsx
  legacyAppLoader/yarn.lock
Labels: none

chore: update react router to suit core module
  client/package.json
  client/yarn.lock
Labels: frontend

Package updates and styles (#377)
  client/package.json
  client/packages/portal-client/schema/portal.config.schema.json
  client/packages/portal-ui/src/style-provider/globalStyles.ts
  client/yarn.lock
  legacyAppLoader/package.json
  legacyAppLoader/src/app-loader/components/LegacyAppLoader.tsx
  legacyAppLoader/src/app-loader/components/ProgressLoader.tsx
  legacyAppLoader/src/app-loader/legacy-interopt/components/LegacyFusionWrapper.tsx
  legacyAppLoader/yarn.lock
Labels: frontend

feat: added azure identity to radix config
  radixconfig.yaml
Labels: none

feat: added azure identity to radix config (#380)
  radixconfig.yaml
Labels: none

title added to context
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedContexts/OnboardContext/OnboardContextCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContexts/GetOnboardedContextsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/OnboardedContextDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/ContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/IContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/EntityConfigurations/OnboardedContextConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationServicesModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedContext/ApiOnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedContext/ApiOnboardedContextRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedContextsData.cs
Labels: backend

remove title
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedContext.cs
Labels: backend

add migration
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20231003104207_RemoveTitleFromOnboardedContext.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20231003104207_RemoveTitleFromOnboardedContext.cs
Labels: backend
