Repository equinor/fusion-project-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, backend, frontend, web-server, pipelines

core: remove StyledGroupWrapper form style file
  client/packages/portal-core/src/app/components/styles/styles.ts
Labels: frontend

chore: remove menu width and add min-width that makes it less complex and produces almost the same result
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/portal-menu/styles.ts
  client/packages/portal-utils/src/menu-utils/utils.test.ts
  client/packages/portal-utils/src/menu-utils/utils.ts
Labels: frontend

fix: remove menu width and add min-width (#318)
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/portal-menu/styles.ts
  client/packages/portal-utils/src/menu-utils/utils.test.ts
  client/packages/portal-utils/src/menu-utils/utils.ts
Labels: frontend

chore: change brake-point on app list in menu
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
Labels: frontend

fix: add back portal actions hot fix
  client/packages/portal-core/src/portal-actions/portal-actions.ts
Labels: frontend

chore: remove dod check and add dod check to pr template
  .github/pull_request_template.md
  .github/workflows/defDone.yml
  dod.yaml
Labels: github-actions

chore: remove dod check and add dod check to pr template (#321)
  .github/pull_request_template.md
  .github/workflows/defDone.yml
  dod.yaml
Labels: github-actions

feat: is admin hook
  client/package.json
  client/packages/portal-core/src/admin/components/Admin.tsx
  client/packages/portal-core/src/admin/hooks/useIsAdmin.ts
  client/packages/portal-core/src/admin/index.ts
  client/packages/portal-core/src/index.ts
  client/yarn.lock
Labels: frontend

feat: added admin panel
  client/packages/portal-core/src/admin/components/Admin.tsx
  client/packages/portal-core/src/admin/components/admin-icon/AdminIcon.tsx
  client/packages/portal-core/src/admin/components/admin/Admin.tsx
  client/packages/portal-core/src/admin/components/index.ts
  client/packages/portal-core/src/admin/index.ts
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
  client/packages/portal-core/src/portal-actions/types.ts
  client/packages/portal-core/src/portal-actions/use-portal-actions.ts
  client/packages/portal-ui/src/top-bar-actions/TopBarActionList.tsx
  client/packages/portal-ui/src/top-bar-actions/TopBarActionMenuDropdown.tsx
  client/packages/portal-ui/src/top-bar-actions/utils.ts
Labels: frontend

chore: use acquireToken
  client/packages/portal-core/src/admin/hooks/useIsAdmin.ts
Labels: frontend

chore: update is admin
  client/packages/portal-core/src/admin/hooks/useIsAdmin.ts
Labels: frontend

fix: add fusion legacy env identifier to the LegacyFusionWrapper
  client/packages/portal-client/schema/portal.config.schema.json
  client/packages/portal-client/src/portal.config.dev.json
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/app/hooks/use-app-loader.test.ts
  client/packages/portal-core/src/app/hooks/use-app-loader.ts
  client/packages/portal-core/src/app/hooks/use-framework-and-app-module.test.ts
  client/packages/portal-core/src/app/utils/app-get-legacy-client-config.test.ts
  client/packages/portal-core/src/app/utils/app-get-legacy-client-config.ts
  client/packages/portal-core/src/types/portal-config.ts
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/FusionLegacyPortalOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
  legacyAppLoader/src/App.tsx
Labels: frontend, web-server

Further improved error handling on API. Also minor refactor
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddContextAppToWorkSurface/AddContextAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddGlobalAppToWorkSurface/AddGlobalAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApp/GetOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/WorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/AppGroupController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
Labels: backend

chore: moved FusionLegacyEnvIdentifier to ClientBundleOptions and removed FusionLegacyPortalOptions
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/ClientBundleOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/FusionLegacyPortalOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
Labels: web-server

fix: add fusion legacy env identifier to the LegacyFusionWrapper (#329)
  client/packages/portal-client/schema/portal.config.schema.json
  client/packages/portal-client/src/portal.config.dev.json
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/app/hooks/use-app-loader.test.ts
  client/packages/portal-core/src/app/hooks/use-app-loader.ts
  client/packages/portal-core/src/app/hooks/use-framework-and-app-module.test.ts
  client/packages/portal-core/src/app/utils/app-get-legacy-client-config.test.ts
  client/packages/portal-core/src/app/utils/app-get-legacy-client-config.ts
  client/packages/portal-core/src/types/portal-config.ts
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/ClientBundleOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
  legacyAppLoader/src/App.tsx
Labels: frontend, web-server

chore: update radix config with the new FusionLegacyEnvIdentifier
  radixconfig.yaml
Labels: none

chore: update radix config with the new FusionLegacyEnvIdentifier (#332)
  radixconfig.yaml
Labels: none

fix: added , to json structure
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
Labels: web-server

fix: ClientBundleOptions__FusionLegacyEnvIdentifier with double __
  radixconfig.yaml
Labels: none

fix: client bundle instead of client bundle options
  radixconfig.yaml
Labels: none

Create snyk_node.yml
  .github/workflows/snyk_node.yml
Labels: github-actions

Continue on error
  .github/workflows/snyk_node.yml
Labels: github-actions

feat: SNYK code scan node (#333)
  .github/workflows/snyk_node.yml
Labels: github-actions

feat: snyk code scan on dotnet
  .github/workflows/snyk_code_scan.yml
  .github/workflows/snyk_node.yml
Labels: github-actions

feat: snyk dotnet and node as two runs
  .github/workflows/snyk-dotnet.yml
  .github/workflows/snyk-node.yml
  .github/workflows/snyk_node.yml
Labels: github-actions

Update with severity and monitor
  .github/workflows/snyk-dotnet.yml
  .github/workflows/snyk-node.yml
Labels: github-actions

monitor and sarif file not allowed simultanously
  .github/workflows/snyk-node.yml
Labels: github-actions

Combo monitor and report not allowed
  .github/workflows/snyk-dotnet.yml
Labels: github-actions

again
  .github/workflows/snyk-dotnet.yml
Labels: github-actions

feat: snyk dotnet and node as two runs (#335)
  .github/workflows/snyk-dotnet.yml
  .github/workflows/snyk-node.yml
  .github/workflows/snyk_node.yml
Labels: github-actions

doc: Update Documentation and removed filer from .vscode and unused jest config.
  client/.vscode/extensions.json
  client/.vscode/settings.json
  client/CODE_OF_CONDUCT.md
  client/CONTRIBUTING.md
  client/README.md
  client/jest.preset.js
Labels: frontend

chore: organize the git hub actions to be used in different workflows.
  .github/actions/check-commit-mssage/action.yml
  .github/actions/client-build/action.yml
  .github/actions/clint-test/action.yml
  .github/actions/es-lint/eslint.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/labeler/action.yml
  .github/actions/node-setup/action.yml
  .github/actions/post-pull-request/action.yml
  .github/actions/size-labeler.yml/action.yml
  .github/workflows/ab-wi-validation.yml
  .github/workflows/backen-pr.yml
  .github/workflows/check-commit-message.yml
  .github/workflows/client-pr.yml
  .github/workflows/createDocs.yml
  .github/workflows/docs-push.yml
  .github/workflows/eslint.yml
  .github/workflows/job-app-deploy.yml
  .github/workflows/job-client-build.yml
  .github/workflows/snyk-dotnet.yml
  .github/workflows/snyk-node.yml
  .github/workflows/web-server-pr.yml
  .github/workflows/wf-client-pr.yml
  .github/workflows/wf-client.yml
Labels: github-actions

chore: remove silly description and minor cleanups
  .github/actions/es-lint/eslint.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/labeler/action.yml
Labels: github-actions

Create relesae.yml
  .github/workflows/relesae.yml
Labels: github-actions

Update relesae.yml
  .github/workflows/relesae.yml
Labels: github-actions

fix: test with new vars
  .github/workflows/relesae.yml
Labels: github-actions

chore: ad az login
  .github/workflows/relesae.yml
Labels: github-actions

fix: permissions: id-token: write
  .github/workflows/relesae.yml
Labels: github-actions

chore: rename eslint.yml to action.yml
  .github/actions/es-lint/action.yml
Labels: github-actions

Typo client-pr.yml
  .github/workflows/client-pr.yml
Labels: github-actions

.github/labeler.yml:

documentation:
  - documentation/**

github-actions:
  - .github/**

backend:
  - backend/**

frontend:
  - client/**

web-server:
  - clientBackend/**

pipelines:
  - pipelines/**
