Repository equinor/fusion-project-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, backend, frontend, web-server, pipelines

.github/labeler.yml:

documentation:
  - documentation/**

github-actions:
  - .github/**

backend:
  - backend/**

frontend:
  - client/**

web-server:
  - clientBackend/**

pipelines:
  - pipelines/**

chore: chbh
  .github/workflows/push-changelog.yml
Labels: github-actions

fix: enforce context selection to display application list in menu
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/queries/portal/getAppGroups.ts
  client/packages/portal-ui/src/info-message/InfoMessage.tsx
Labels: frontend

chore: create pr-400-1549618563.md
  .changeset/pr-400-1549618563.md
Labels: none

chore: only run changeset action on review not draft
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

chore: add ready_for_review to types
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

chore: create pr-401-1549632337.md
  .changeset/pr-401-1549632337.md
Labels: none

chore: only run changeset action on review not draft (#401)
  .changeset/pr-401-1549632337.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

fix: enforce context selection to display application list in menu (#400)
  .changeset/pr-400-1549618563.md
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/queries/portal/getAppGroups.ts
  client/packages/portal-ui/src/info-message/InfoMessage.tsx
Labels: frontend

chore: change pr-400 to minor
  .changeset/pr-400-1549618563.md
Labels: none

fix: get changeset not running on release branch
  .changeset/pr-406-1560342669.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

fix: get changeset not running on release branch (#406)
  .changeset/pr-406-1560342669.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

fix: if in Get PR description
  .changeset/empty.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

fix: not trigger on branch
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

chore: remove old documentation, now moved to internal repo
  documentation/.gitignore
  documentation/README.md
  documentation/package.json
  documentation/src/.vuepress/components/ModuleBadge.vue
  documentation/src/.vuepress/config.ts
  documentation/src/.vuepress/enhanceApp.js
  documentation/src/.vuepress/nav-bar.ts
  documentation/src/.vuepress/public/fusion.png
  documentation/src/.vuepress/side-bar.ts
  documentation/src/.vuepress/styles/index.scss
  documentation/src/.vuepress/theme.ts
  documentation/src/backend/index.md
  documentation/src/clientBackend/index.md
  documentation/src/frontend/frontend-spec.md
  documentation/src/frontend/index.md
  documentation/src/frontend/portal-actions.md
  documentation/src/index.md
  documentation/src/projectPortalStudy/Readme.md
  documentation/yarn.lock
Labels: documentation

chore: folder cleanup
  pipelines/README.md
Labels: pipelines

chore: update readmes
  .assets/fusion.png
  README.md
  backend/README.md
  client/README.md
Labels: backend, frontend

Update README.md
  README.md
Labels: none

fix: Get PR description with branch ignore
  .github/workflows/common-changeset-pr.yml
Labels: github-actions

chore: create pr-413-1562414285.md
  .changeset/pr-413-1562414285.md
Labels: none

chore: remove run books and move to internal repo
  client/README.md
  clientBackend/README.md
  legacyAppLoader/README.md
Labels: frontend, web-server

Doc/remove doc and update readme (#413)
  .assets/fusion.png
  .changeset/pr-413-1562414285.md
  .github/workflows/common-changeset-pr.yml
  README.md
  backend/README.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/README.md
  client/README.md
  clientBackend/README.md
  documentation/.gitignore
  documentation/README.md
  documentation/package.json
  documentation/src/.vuepress/components/ModuleBadge.vue
  documentation/src/.vuepress/config.ts
  documentation/src/.vuepress/enhanceApp.js
  documentation/src/.vuepress/nav-bar.ts
  documentation/src/.vuepress/side-bar.ts
  documentation/src/.vuepress/styles/index.scss
  documentation/src/.vuepress/theme.ts
  documentation/src/backend/index.md
  documentation/src/clientBackend/index.md
  documentation/src/frontend/frontend-spec.md
  documentation/src/frontend/index.md
  documentation/src/frontend/portal-actions.md
  documentation/src/index.md
  documentation/src/projectPortalStudy/Readme.md
  documentation/yarn.lock
  legacyAppLoader/README.md
  pipelines/README.md
Labels: documentation, github-actions, backend, frontend, web-server, pipelines
