Repository equinor/fusion-project-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, backend, frontend, web-server, pipelines

.github/labeler.yml:

documentation:
  - documentation/**

github-actions:
  - .github/**

backend:
  - backend/**

frontend:
  - client/**

web-server:
  - clientBackend/**

pipelines:
  - pipelines/**

chore: remove comments from changeset and improve change type regex
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: create pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: move remove comments to result
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: update build
  .github/actions/create-changeset/dist/index.js
Labels: github-actions

chore: update regex
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

fix: find change
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: build
  .github/actions/create-changeset/dist/index.js
Labels: github-actions

chore: show change type bug
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: select one
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: update pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: update pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: move remove comment
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: write as const
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: update pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: one more
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: add debug
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: update pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: remove debug
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
Labels: github-actions

chore: update pr-395-1543127205.md
  .changeset/pr-395-1543127205.md
Labels: none

chore: update pr-381-1539464402.md
  .changeset/pr-381-1539464402.md
Labels: none

fix: typo in common release
  .github/workflows/common-release.yml
Labels: github-actions

289 add title to onboarded contexts (#381)
  .changeset/pr-381-1539464402.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedContexts/OnboardContext/OnboardContextCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContexts/GetOnboardedContextsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/OnboardedContextDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/ContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/IContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/EntityConfigurations/OnboardedContextConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20231003104207_RemoveTitleFromOnboardedContext.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20231003104207_RemoveTitleFromOnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationServicesModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedContext/ApiOnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedContext/ApiOnboardedContextRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedContextsData.cs
Labels: backend

Update common-release.yml
  .github/workflows/common-release.yml
Labels: github-actions

Update common-release.yml
  .github/workflows/common-release.yml
Labels: github-actions

chore: remove comments from changeset and improve change type regex (#395)
  .changeset/pr-395-1543127205.md
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
  .github/workflows/common-release.yml
Labels: github-actions

feat: add my account portal action option
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
Labels: frontend

chore: update pr template
  .github/pull_request_template.md
Labels: github-actions

chore: create pr-397-1544878353.md
  .changeset/pr-397-1544878353.md
Labels: none

chore: create pr-398-1544881918.md
  .changeset/pr-398-1544881918.md
Labels: none

chore: update pr template (#398)
  .changeset/pr-398-1544881918.md
  .github/pull_request_template.md
Labels: github-actions

chore: update pr-397-1544878353.md
  .changeset/pr-397-1544878353.md
Labels: none

chore: update pr-397-1544878353.md
  .changeset/pr-397-1544878353.md
Labels: none

chore: add my account portal action option (#397)
  .changeset/pr-397-1544878353.md
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
Labels: frontend

feat: push changelog
  .github/workflows/push-changelog.yml
Labels: github-actions

fix: destination-repository-name: "equinor/fusion-project-portal-internal"
  .github/workflows/push-changelog.yml
Labels: github-actions

chore: user name
  .github/workflows/push-changelog.yml
Labels: github-actions

chore: try this
  .github/workflows/push-changelog.yml
Labels: github-actions

chore: username
  .github/workflows/push-changelog.yml
Labels: github-actions

chore: API_TOKEN_GITHUB
  .github/workflows/push-changelog.yml
Labels: github-actions

chore: user Noggling
  .github/workflows/push-changelog.yml
Labels: github-actions
