Repository equinor/fusion-project-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, backend, frontend, web-server, pipelines

.github/labeler.yml:

documentation:
  - documentation/**

github-actions:
  - .github/**

backend:
  - backend/**

frontend:
  - client/**

web-server:
  - clientBackend/**

pipelines:
  - pipelines/**

chore: token
  .github/actions/labeler/action.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: 16
  .github/actions/size-labeler/action.yml
  .github/workflows/client-pr.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: es lint token
  .github/actions/es-lint/action.yml
  .github/workflows/client-pr.yml
Labels: github-actions

chore: add steps
  .github/actions/es-lint/action.yml
  .github/actions/size-labeler/action.yml
Labels: github-actions

chore: test
  .github/actions/size-labeler/action.yml
Labels: github-actions

chore:20
  .github/actions/size-labeler/action.yml
Labels: github-actions

chore: 12
  .github/actions/labeler/action.yml
  .github/actions/size-labeler/action.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: 15
  .github/actions/node-setup/action.yml
  .github/actions/post-pull-request/action.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: fix maybe
  .github/actions/post-pull-request/action.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: 16
  .github/workflows/client-pr.yml
  .github/workflows/common-pr.yml
Labels: github-actions

chore: only on open
  .github/workflows/common-pr.yml
Labels: github-actions

chore: 40
  .github/workflows/client-pr.yml
Labels: github-actions

chore/fix github actions (#339)
  .github/actions/client-build/action.yml
  .github/actions/client-test/action.yml
  .github/actions/es-lint/action.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/labeler/action.yml
  .github/actions/node-setup/action.yml
  .github/actions/post-pull-request/action.yml
  .github/actions/size-labeler.yml/action.yml
  .github/workflows/backend-pr.yml
  .github/workflows/client-pr.yml
  .github/workflows/common-pr.yml
  .github/workflows/web-server-pr.yml
  client/packages/portal-client/index.html
Labels: github-actions, frontend

chore: remove snyk as action (#340)
  .github/actions/snyk-dotnet/action.yml
  .github/actions/snyk-node/action.yml
  .github/workflows/backend-pr.yml
  .github/workflows/client-pr.yml
Labels: github-actions

fix: typo
  .github/workflows/web-server-pr.yml
Labels: github-actions

Update relesae.yml
  .github/workflows/relesae.yml
Labels: github-actions

Update relesae.yml
  .github/workflows/relesae.yml
Labels: github-actions

renamed job section
  .github/workflows/common-pr.yml
Labels: github-actions

fix: client/package.json to reduce vulnerabilities
  client/package.json
Labels: frontend

fix: client/package.json to reduce vulnerabilities
  client/package.json
Labels: frontend

bugfix: fixed too strict check when adding global app
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddGlobalAppToWorkSurface/AddGlobalAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddContextAppToWorkSurfaceRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddGlobalAppToWorkSurfaceRequest.cs
Labels: backend

Updated tests
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
Labels: backend

.
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
Labels: backend

chore: further improved error handling on API + minor refactor (#330)
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddContextAppToWorkSurface/AddContextAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddGlobalAppToWorkSurface/AddGlobalAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApp/GetOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/WorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/AppGroupController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddContextAppToWorkSurfaceRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddGlobalAppToWorkSurfaceRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
Labels: backend

fix: scrollbar in legacy apps
  legacyAppLoader/src/app-loader/legacy-interopt/components/LegacyFusionWrapper.tsx
Labels: none

chore: remove client docker file
  client/Dockerfile
  client/docker-compose.yml
Labels: frontend

chore: remove configs
  client/docker/nginx/conf.d/default.conf
  client/docker/scripts/run-nginx.sh
Labels: frontend

fix: client/Dockerfile to reduce vulnerabilities
  client/Dockerfile
Labels: frontend

chore: remove common action in client pr wf
  .github/workflows/client-pr.yml
Labels: github-actions

chore: remove common action in client pr wf (#349)
  .github/workflows/client-pr.yml
Labels: github-actions

fix: scrollbar in legacy apps (#346)
  legacyAppLoader/src/app-loader/legacy-interopt/components/LegacyFusionWrapper.tsx
Labels: none

chore: remove client docker (#348)
  client/Dockerfile
  client/docker-compose.yml
  client/docker/nginx/conf.d/default.conf
  client/docker/scripts/run-nginx.sh
Labels: frontend

chore: action test
  client/README.md
Labels: frontend

fix: client/package.json to reduce vulnerabilities
  client/package.json
Labels: frontend

chore: update yarn.lock
  client/yarn.lock
Labels: frontend

fix: upgrade @equinor/fusion-react-styles from 0.5.7 to 0.5.9
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

fix: upgrade @equinor/fusion from 3.4.10 to 3.4.11
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

fix: upgrade @equinor/fusion-components from 2.11.7 to 2.12.0
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: none

chore(snyk): action to update lockfile on snyk PRs
  .github/workflows/update-lockfile.yml
Labels: github-actions

fix: only relevant to yarn
  .github/workflows/update-lockfile.yml
Labels: github-actions
