Repository equinor/fusion-project-portal, pull requests merged in 2022-11, with the labels that each got.

#26 fix: :bug: Docker and client
  client/Dockerfile
  client/package.json
  client/packages/portal-client/src/components/portal-menu/AppCard/AppCard.tsx
  client/packages/portal-client/src/components/portal-menu/Group/Group.tsx
  client/packages/portal-client/src/components/portal-progress-loader/PortalProgressLoader.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/main.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/vite.config.ts
  client/packages/portal-core/src/clients/portalClient.ts
  client/packages/portal-core/src/create-portal-framework/create-portal-framework.tsx
  client/packages/portal-core/src/phases/phases.ts
  client/packages/portal-core/src/types/portal-config.ts
  client/packages/portal-pages/src/pages/home-page/HomePage.tsx
  client/yarn.lock
Labels: size-xl

#27 feature ✨ work-surface module
  client/packages/portal-client/src/components/failed-work-surfaces/FailedToLoadWorkSurfaces.tsx
  client/packages/portal-client/src/components/portal-app/PortalApp.tsx
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/components/work-surface-bootstrap/WorkSurfaceBootstrap.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/src/utils/response-error-parser/response-error-parser.ts
  client/packages/portal-core/src/avatar/TopBarAvatar.tsx
  client/packages/portal-core/src/avatar/presence-observable.ts
  client/packages/portal-core/src/clients/portalClient.ts
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-menu-items.ts
  client/packages/portal-core/src/hooks/use-navigate-last-surface.ts
  client/packages/portal-core/src/hooks/use-phases.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/phases/index.ts
  client/packages/portal-core/src/phases/phases.ts
  client/packages/portal-core/src/portal-framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/types/portal-config.ts
  client/packages/portal-core/src/work-surface-module/client/persist.ts
  client/packages/portal-core/src/work-surface-module/client/workSurfaceClient.ts
  client/packages/portal-core/src/work-surface-module/configurator.ts
  client/packages/portal-core/src/work-surface-module/hooks/index.ts
  client/packages/portal-core/src/work-surface-module/hooks/useCurrentWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useNavigateBasedOnWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useWorkSurfaces.ts
  client/packages/portal-core/src/work-surface-module/index.ts
  client/packages/portal-core/src/work-surface-module/module.ts
  client/packages/portal-core/src/work-surface-module/provider.ts
  client/packages/portal-core/src/work-surface-module/types.ts
  client/packages/portal-pages/src/index.ts
  client/packages/portal-pages/src/pages/home-page/HomePage.tsx
  client/packages/portal-pages/src/pages/home-page/LoadingWorkSurfacesTransition.tsx
  client/packages/portal-pages/src/pages/phase-page/PhasePage.tsx
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/fatal-error/FatalError.tsx
  client/packages/portal-ui/src/lib/fatal-error/index.ts
Labels: size-xl

#29 chore: :recycle: remove the need for custom configurator
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/portal-framework-config/index.ts
  client/packages/portal-core/src/portal-framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/portal-framework-configurator/portal-configurators.ts
  client/packages/portal-core/src/portal-framework-configurator/portal-framework-configurator.ts
  client/packages/portal-core/src/work-surface-module/index.ts
Labels: size-md, Config

#30 Feature/views with hooks
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/components/work-surface-bootstrap/WorkSurfaceBootstrap.tsx
  client/packages/portal-client/src/utils/queryClient/query-client.ts
  client/packages/portal-core/src/avatar/TopBarAvatar.tsx
  client/packages/portal-core/src/clients/clients.ts
  client/packages/portal-core/src/clients/index.ts
  client/packages/portal-core/src/currentWorkSurfaceContext/CurrentViewContext.tsx
  client/packages/portal-core/src/currentWorkSurfaceContext/FailedToLoadViews.tsx
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-menu-items.ts
  client/packages/portal-core/src/hooks/use-portal-client.ts
  client/packages/portal-core/src/hooks/useNavigateOnViewChanged.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/portal-framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/portal-framework-configurator/portal-configurators.ts
  client/packages/portal-core/src/queries/fusion/getPresence.ts
  client/packages/portal-core/src/queries/fusion/index.ts
  client/packages/portal-core/src/queries/hooks/index.ts
  client/packages/portal-core/src/queries/hooks/useCurrentView.ts
  client/packages/portal-core/src/queries/hooks/useMenuItems.ts
  client/packages/portal-core/src/queries/hooks/usePresence.ts
  client/packages/portal-core/src/queries/hooks/useViews.ts
  client/packages/portal-core/src/queries/index.ts
  client/packages/portal-core/src/queries/portal/getViewById.ts
  client/packages/portal-core/src/queries/portal/getViews.ts
  client/packages/portal-core/src/queries/portal/index.ts
  client/packages/portal-core/src/types/index.ts
  client/packages/portal-core/src/types/portal-config.ts
  client/packages/portal-core/src/types/view.ts
  client/packages/portal-core/src/work-surface-module/client/persist.ts
  client/packages/portal-core/src/work-surface-module/client/workSurfaceClient.ts
  client/packages/portal-core/src/work-surface-module/configurator.ts
  client/packages/portal-core/src/work-surface-module/hooks/index.ts
  client/packages/portal-core/src/work-surface-module/hooks/useCurrentWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useNavigateBasedOnWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useWorkSurface.ts
  client/packages/portal-core/src/work-surface-module/hooks/useWorkSurfaces.ts
  client/packages/portal-core/src/work-surface-module/index.ts
  client/packages/portal-core/src/work-surface-module/module.ts
  client/packages/portal-core/src/work-surface-module/provider.ts
  client/packages/portal-pages/src/components/phase-selector/PhaseSelectorItem.tsx
  client/packages/portal-pages/src/index.ts
  client/packages/portal-pages/src/pages/home-page/HomePage.tsx
  client/packages/portal-pages/src/pages/home-page/LoadingWorkSurfacesTransition.tsx
  client/packages/portal-pages/src/pages/phase-page/PhasePage.tsx
  client/packages/portal-pages/src/pages/phase-page/ViewPage.tsx
  client/packages/portal-pages/src/pages/phase-page/ViewPageHeader.tsx
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/full-page-loading/FullPageLoading.tsx
  client/packages/portal-ui/src/lib/full-page-loading/index.ts
  client/packages/portal-utils/src/app/appMounted.ts
  client/packages/portal-utils/src/app/index.ts
  client/packages/portal-utils/src/index.ts
  client/packages/portal-utils/src/storage/local-storage.ts
Labels: size-xl

#32 feat: ✨ fusion context module and selector wip
  client/.tools/updateFusionCore.ps1
  client/package.json
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-menu/AppCard/AppCard.tsx
  client/packages/portal-client/src/components/portal-menu/Group/Group.tsx
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/utils/appsMatchingSearch.ts
  client/packages/portal-core/src/current-view-context/CurrentViewContext.tsx
  client/packages/portal-core/src/current-view-context/FailedToLoadViews.tsx
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-context-client.ts
  client/packages/portal-core/src/hooks/use-context-resolver.ts
  client/packages/portal-core/src/hooks/use-framework-context.ts
  client/packages/portal-core/src/hooks/use-framework-current-context.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/portal-context-selector/PortalContextSelector.tsx
  client/packages/portal-core/src/portal-framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/portal-framework-configurator/portal-configurators.ts
  client/packages/portal-core/src/portal-framework-configurator/portal-context-configurators.ts
  client/packages/portal-core/src/portal-framework-configurator/portal-context-history.ts
  client/packages/portal-core/src/queries/hooks/use-current-view.ts
  client/packages/portal-core/src/queries/portal/getViewById.ts
  client/packages/portal-pages/src/index.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.Styles.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.tsx
  client/packages/portal-pages/src/pages/view-page/ViewPage.Styles.ts
  client/packages/portal-pages/src/pages/view-page/ViewPage.tsx
  client/packages/portal-ui/src/lib/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/lib/style-provider/styleProvider.tsx
  client/packages/portal-utils/src/index.ts
  client/packages/portal-utils/src/list-modifiers/index.ts
  client/packages/portal-utils/src/list-modifiers/move-item-by-index.test.ts
  client/packages/portal-utils/src/list-modifiers/move-item-by-index.ts
  client/yarn.lock
Labels: size-xl, wip

#34 Action: Definition of Done
  .github/pull_request_template.md
  .github/workflows/defDone.yml
  dod.yaml
Labels: github-actions, size-xs

#35 Action: validate the workitem reference
  .github/workflows/ab-wi-validation.yml
Labels: github-actions, size-xs

#36 feat: ✨check conventional commit message
  .github/workflows/check-commit-message.yml
Labels: github-actions, size-xs

#38 fix: Changed name of action
  .github/workflows/sizeLabeler.yml
Labels: github-actions, size-xs

#37 feat: ✨ implement /apps endpoints for WorkSurface and context
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurfaceApps/GetWorkSurfaceAppGroupsWithAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiWorkSurfaceApp.cs
Labels: size-md, backend

#39 chore: ♻️ integration test setup
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddWorkSurfaceApp/AddWorkSurfaceAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/WorkSurfaceApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurface/ApiWorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiWorkSurfaceApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceAppGroup/ApiWorkSurfaceAppGroup.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/FusionContextData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/FusionPortalAppsData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedAppsData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/PortalData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/WorkSurfaceAppGroupData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/WorkSurfaceData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Equinor.ProjectExecutionPortal.Tests.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/WorkSurfaceControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Misc/ApplicationDbContextExtension.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/ITestUser.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthHandler.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthOptions.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/TestUser.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/TokenProfile.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/UserType.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/TestBase.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/TestFactory.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/UnitTest1.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Usings.cs
Labels: size-xl, backend
