Repository equinor/fusion-project-portal, pull requests merged in 2022-12, with the labels that each got.

#41 chore: ♻️ remove apps join on workSurface query. Added tests for apps endpoint
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurface/GetWorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurface/GetWorkSurfaceWithAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/WorkSurfaceControllerTests.cs
Labels: size-md, backend

#47 chore: move dod yml file and add branche ignor to wi validation
  .github/defDone.yml
  .github/dod.yaml
  .github/workflows/ab-wi-validation.yml
Labels: github-actions, size-xs

#49 fix: only navigate on root
  client/packages/portal-client/src/components/app-module-loader/AppModuleLoader.tsx
  client/packages/portal-core/src/framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/framework-configurator/portal-context-configurators.ts
Labels: size-xs

#53 feat: fusion app module loader
  client/.tools/updateFusionCore.ps1
  client/package.json
  client/packages/portal-client/src/components/app-loader/AppLoader.tsx
  client/packages/portal-client/src/components/app-module-loader/AppLoadingTransition.tsx
  client/packages/portal-client/src/components/app-module-loader/AppModuleLoader.tsx
  client/packages/portal-client/src/components/portal-progress-loader/PortalProgressLoader.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/tsconfig.json
  client/packages/portal-core/src/app-loader/AppLoader.tsx
  client/packages/portal-core/src/app-loader/AppModuleLoader.tsx
  client/packages/portal-core/src/app-loader/ErrorView.tsx
  client/packages/portal-core/src/app-loader/index.ts
  client/packages/portal-core/src/app-loader/use-app-loader.ts
  client/packages/portal-core/src/app-loader/uss-app-module.ts
  client/packages/portal-core/src/framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/framework-configurator/app-configurator.ts
  client/packages/portal-core/src/framework-configurator/portal-configurators.ts
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-app-loader.ts
  client/packages/portal-core/src/hooks/use-context-client.ts
  client/packages/portal-core/src/hooks/use-framework-context.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/module-loader/module-configurator.ts
  client/packages/portal-core/src/module-loader/module-provider.ts
  client/packages/portal-core/src/module-loader/module.ts
  client/packages/portal-core/src/module-loader/types.ts
  client/packages/portal-core/src/queries/hooks/use-presence-query.ts
  client/yarn.lock
Labels: size-xl
