Repository equinor/fusion-project-portal, pull requests merged in 2022-10, with the labels that each got.

#7 doc(documentation): Project Portal Study
  documentation/src/.vuepress/config.ts
  documentation/src/projectPortalStudy/Readme.md
Labels: documentation, size-md

#6 Typo
  README.md
Labels: size-xs

#8 initial nx workspace setup
  client/.editorconfig
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/.vscode/extensions.json
  client/README.md
  client/nx.json
  client/package-lock.json
  client/package.json
  client/tools/generators/.gitkeep
  client/tools/tsconfig.tools.json
  client/tsconfig.base.json
Labels: size-xl

#11 Setup client application
  .github/workflows/label.yml
  .github/workflows/sizeLabeler.yml
  .gitignore
  backend/.gitignore
  client/.gitignore
  client/README.md
  client/babel.config.json
  client/jest.config.ts
  client/jest.preset.js
  client/lerna.json
  client/nx.json
  client/package-lock.json
  client/package.json
  client/packages/portal-client/index.html
  client/packages/portal-client/jest.config.ts
  client/packages/portal-client/package.json
  client/packages/portal-client/project.json
  client/packages/portal-client/src/assets/.gitkeep
  client/packages/portal-client/src/assets/createPortalFramework/createPortalFramework.tsx
  client/packages/portal-client/src/components/Header/Header.tsx
  client/packages/portal-client/src/components/PortalApp/PortalApp.spec.tsx
  client/packages/portal-client/src/components/PortalApp/PortalApp.tsx
  client/packages/portal-client/src/favicon.ico
  client/packages/portal-client/src/main.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/src/typs/portalConfig.ts
  client/packages/portal-client/src/vite-env.d.ts
  client/packages/portal-client/tsconfig.app.json
  client/packages/portal-client/tsconfig.json
  client/packages/portal-client/tsconfig.spec.json
  client/packages/portal-client/vite.config.ts
  client/packages/portal-ui/.babelrc
  client/packages/portal-ui/.eslintrc.json
  client/packages/portal-ui/README.md
  client/packages/portal-ui/jest.config.ts
  client/packages/portal-ui/project.json
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/appLoader/appLoader.tsx
  client/packages/portal-ui/src/lib/appLoader/appLoaderModule.ts
  client/packages/portal-ui/src/lib/portalHeader/Icon.tsx
  client/packages/portal-ui/src/lib/portalHeader/Logo.tsx
  client/packages/portal-ui/src/lib/portalHeader/PortalHeader.spec.tsx
  client/packages/portal-ui/src/lib/portalHeader/PortalHeader.tsx
  client/packages/portal-ui/src/lib/portalHeader/PortalHeaderStyles.ts
  client/packages/portal-ui/src/lib/portalMenu/MenuButton.tsx
  client/packages/portal-ui/src/lib/portalMenu/MenuContext.tsx
  client/packages/portal-ui/src/lib/portalMenu/MenuStyles.ts
  client/packages/portal-ui/src/lib/portalMenu/PortalMenu.tsx
  client/packages/portal-ui/src/lib/router/router.tsx
  client/packages/portal-ui/src/lib/styleProvider/globalColors.ts
  client/packages/portal-ui/src/lib/styleProvider/globalStyles.ts
  client/packages/portal-ui/src/lib/styleProvider/styleProvider.tsx
  client/packages/portal-ui/tsconfig.json
  client/packages/portal-ui/tsconfig.lib.json
  client/packages/portal-ui/tsconfig.spec.json
  client/tsconfig.base.json
  client/workspace.json
  client/yarn.lock
Labels: size-xl, github-actions

#13 chore: :wrench: vite read import paths from tsconfig
  client/package.json
  client/packages/portal-client/vite.config.ts
  client/tsconfig.base.json
  client/yarn.lock
Labels: size-md

#19 feat: :sparkles: top bar avatar with presence
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-core/src/avatar/TopBarAvatar.tsx
  client/packages/portal-core/src/avatar/index.ts
  client/packages/portal-core/src/avatar/parsePresenceStatus.tsx
  client/packages/portal-core/src/avatar/presence-observable.ts
  client/packages/portal-core/src/avatar/top-bar-avatar.styles.ts
  client/packages/portal-core/src/avatar/types.ts
  client/packages/portal-core/src/index.ts
Labels: size-md

#21 refactor: :recycle: observable storage rxjs
  client/packages/portal-core/src/phases/phases.ts
  client/packages/portal-utils/src/rxjs/index.ts
  client/packages/portal-utils/src/rxjs/observable-storage.ts
Labels: size-xs

#17 feat: :sparkles: added module loader fro app and wigetloading
  client/package.json
  client/packages/portal-client/src/components/app-loader/AppLoader.tsx
  client/packages/portal-client/src/components/app-module-loader/AppModuleLoader.tsx
  client/packages/portal-client/src/components/portal-app/PortalApp.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/components/portal-router/Router.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/vite.config.ts
  client/packages/portal-core/src/create-portal-framework/create-portal-framework.tsx
  client/packages/portal-core/src/hooks/use-app-loader.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/module-loader/module-configurator.ts
  client/packages/portal-core/src/module-loader/module-provider.ts
  client/packages/portal-core/src/module-loader/module.ts
  client/packages/portal-core/src/module-loader/types.ts
  client/packages/portal-core/src/phases/phases.ts
  client/yarn.lock
Labels: size-lg

#16 feat: :sparkles: add PoC menu, nothing interactive
  client/packages/portal-client/src/components/portal-app/PortalApp.tsx
  client/packages/portal-client/src/components/portal-content/PortalContent.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/components/portal-menu/AppCard/AppCard.tsx
  client/packages/portal-client/src/components/portal-menu/Group/ColorTab.tsx
  client/packages/portal-client/src/components/portal-menu/Group/Group.tsx
  client/packages/portal-client/src/components/portal-menu/Group/group.styles.ts
  client/packages/portal-client/src/components/portal-menu/GroupWrapper/GroupWrapper.tsx
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-core/src/hooks/use-phases.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/menu/index.ts
  client/packages/portal-core/src/menu/menuController.ts
  client/packages/portal-core/src/menu/menuFavorites.ts
  client/packages/portal-core/src/mock/phase-icons/Early.tsx
  client/packages/portal-core/src/mock/phase-icons/Execution.tsx
  client/packages/portal-core/src/mock/phase-icons/Renewable.tsx
  client/packages/portal-core/src/mock/phases.ts
  client/packages/portal-core/src/phases/index.ts
  client/packages/portal-core/src/phases/phases.ts
  client/packages/portal-core/src/types/portal-config.ts
  client/packages/portal-pages/src/components/phase-selector/PhaseSelectorItem.tsx
  client/packages/portal-pages/src/pages/home-page/HomePage.tsx
  client/packages/portal-pages/src/pages/phase-page/PhasePage.tsx
  client/packages/portal-pages/src/pages/phase-page/PhasePageHeader.tsx
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/lib/svg-icon-from-string/SvgIconFromString.tsx
  client/packages/portal-ui/src/lib/svg-icon-from-string/index.ts
  client/packages/portal-utils/src/rxjs/observable-storage.ts
Labels: size-xl

#18 chore: :wrench: add root eslint configuration
  client/.eslintrc.json
  client/package.json
  client/yarn.lock
Labels: size-xl

#23 fix: 🐛 elevate router to fix page reloads
  client/packages/portal-client/src/components/app-module-loader/AppLoadingTransition.tsx
  client/packages/portal-client/src/components/app-module-loader/AppModuleLoader.tsx
  client/packages/portal-client/src/components/portal-app/PortalApp.tsx
  client/packages/portal-client/src/components/portal-content/PortalContent.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/components/portal-menu/AppCard/AppCard.tsx
  client/packages/portal-client/src/components/portal-menu/LoadingMenu.tsx
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/main.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/src/utils/appsMatchingSearch.ts
  client/packages/portal-core/src/clients/clients.ts
  client/packages/portal-core/src/clients/index.ts
  client/packages/portal-core/src/clients/portalClient.ts
  client/packages/portal-core/src/create-portal-framework/create-portal-framework.tsx
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-menu-items.ts
  client/packages/portal-core/src/hooks/use-navigate-last-surface.ts
  client/packages/portal-core/src/hooks/use-phases.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/menu/index.ts
  client/packages/portal-core/src/menu/menuController.ts
  client/packages/portal-core/src/phases/phases.ts
  client/packages/portal-pages/src/pages/home-page/HomePage.tsx
  client/packages/portal-pages/src/pages/home-page/LoadingPhaseTransition.tsx
  client/packages/portal-pages/src/pages/phase-page/PhasePage.tsx
Labels: size-xl

#25 feat: ✨ added docker config file and nginex config
  client/.dockerignore
  client/Dockerfile
  client/docker-compose.yml
  client/docker/nginx/conf.d/default.conf
  client/docker/scripts/run-nginx.sh
  client/lerna.json
  client/package.json
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/create-portal-framework/create-portal-framework.tsx
Labels: size-md

#22 build: :construction_worker: fix build system
  client/package.json
  client/packages/portal-client/project.json
  client/packages/portal-client/vite.config.ts
  client/packages/portal-ui/project.json
  client/packages/portal-utils/project.json
  client/packages/portal-utils/src/index.ts
Labels: size-xs
