Repository equinor/fusion-project-portal, pull requests merged in 2023-05, with the labels that each got.

#170 feat: favorites on project page
  client/packages/portal-client/index.html
  client/packages/portal-core/src/context-selector/PortalContextSelector.tsx
  client/packages/portal-core/src/framework-configurator/app-configurator.ts
  client/packages/portal-pages/src/pages/project-page/ProjectPage.Styles.ts
  client/packages/portal-pages/src/pages/project-page/ProjectPage.tsx
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
  client/packages/portal-pages/src/pages/view-page/ViewPage.Styles.ts
  client/packages/portal-pages/src/pages/view-page/ViewPageHeader.tsx
  client/packages/portal-ui/src/lib/header/HeaderStyles.ts
  client/packages/portal-ui/src/lib/header/Logo.tsx
  client/packages/portal-ui/src/lib/portal-menu/app-card/AppCard.tsx
Labels: size-md

#175 fix: add ag grid to test env in radix config
  radixconfig.yaml
Labels: size-xs

#177 fix: add _customElementsDefine poly fill for old fusion apps using web components
  client/packages/portal-client/src/customElementsDefinePolyfill.ts
  client/packages/portal-client/src/main.tsx
Labels: size-xs

#180 fix: ag grid check on lisen key when adding ag grid lisens
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
Labels: size-xs

#183 fix: remove main tag
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Shared/_Layout.cshtml
Labels: size-xs

#184 fix: use served bookmark config
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/types/portal-config.ts
Labels: size-xs

#216 fix: fixed a bug where app duplicates would be returned in apps endpoint
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurfaceAppGroupsWithContextAndGlobalApps/GetWorkSurfaceAppGroupsWithContextAndGlobalAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/WorkSurfaceService.cs
Labels: size-xs, backend

#212 chore: removed unused identity config from radix
  radixconfig.yaml
Labels: size-xs

#218 chore: top bar application is clickable but has no indication that its clickable
  client/packages/portal-ui/src/lib/header/breadcrumbs/AppBreadcrumb.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/styles.ts
Labels: size-xs

#208 feat: notification
  client/package.json
  client/packages/notification/README.md
  client/packages/notification/api/deleteNotification.ts
  client/packages/notification/api/getReadNotifications.ts
  client/packages/notification/api/getUnreadNotifications.ts
  client/packages/notification/api/readNotification.ts
  client/packages/notification/components/NotificationBell.tsx
  client/packages/notification/components/NotificationCard.tsx
  client/packages/notification/components/NotificationDateDivision.tsx
  client/packages/notification/components/Notifications.tsx
  client/packages/notification/components/StatusCircle.tsx
  client/packages/notification/components/adaptivCard/AdaptivCardViewer.tsx
  client/packages/notification/components/adaptivCard/defaultHostConfig.ts
  client/packages/notification/components/adaptivCard/styling.ts
  client/packages/notification/hooks/test.json
  client/packages/notification/hooks/useNotificationCenter.ts
  client/packages/notification/hooks/useNotificationMutationKeys.ts
  client/packages/notification/index.ts
  client/packages/notification/project.json
  client/packages/notification/queries/notificationQueries.ts
  client/packages/notification/tsconfig.json
  client/packages/notification/types/Notification.ts
  client/packages/notification/types/NotificationList.ts
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/framework-config/utils.ts
  client/packages/portal-client/vite.config.ts
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
  client/packages/portal-ui/src/lib/widgets/notifications/Notifications.tsx
  client/tsconfig.base.json
  client/yarn.lock
Labels: size-xl, wip, feature

#205 feat: ✨ New Menu design
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/app/appsMatchingSearch.ts
  client/packages/portal-core/src/types/view.ts
  client/packages/portal-ui/src/lib/info-message/InfoMessage.tsx
  client/packages/portal-ui/src/lib/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/lib/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/lib/portal-menu/app-card/AppCard.tsx
  client/packages/portal-ui/src/lib/portal-menu/group-wrapper/GroupWrapper.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/Group.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/group-styles.ts
  client/packages/portal-ui/src/lib/portal-menu/index.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-items/CategoryStyles.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-items/category-item.tsx
  client/packages/portal-ui/src/lib/portal-menu/menu-items/index.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-wrappers/index.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-wrappers/wrappers.tsx
  client/packages/portal-utils/src/index.ts
  client/packages/portal-utils/src/menu-utils/index.ts
  client/packages/portal-utils/src/menu-utils/utils.ts
  client/packages/portal-utils/src/rxjs/hooks/use-observable.ts
Labels: size-lg

#222 chore: rename to available
  client/packages/portal-core/src/app-loader/AppNotAwaitable.tsx
Labels: size-xs

#223 chore: fix NotificationBell circle size
  client/packages/notification/components/NotificationBell.tsx
Labels: size-xs

#224 chore: fix menu styles
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/lib/portal-menu/app-card/AppCard.tsx
  client/packages/portal-ui/src/lib/portal-menu/group-wrapper/GroupWrapper.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/ColorTab.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/Group.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/group-styles.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-items/CategoryStyles.ts
  client/packages/portal-ui/src/lib/portal-menu/menu-items/category-item.tsx
  client/packages/portal-ui/src/lib/portal-menu/menu-wrappers/wrappers.tsx
  client/packages/portal-ui/src/lib/portal-menu/styles.ts
Labels: size-lg

#225 feat: add support for authorization policies
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/AuthorizationExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/IAuthorizationServiceExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Policies.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Requirements/PortalAdminOrOwnerRequirement.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Scopes.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/AppGroupController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
Labels: size-md, backend

#226 chore: upgrade some nuget packages to latest
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Equinor.ProjectExecutionPortal.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Equinor.ProjectExecutionPortal.Tests.WebApi.csproj
Labels: size-xs, backend

#227 feat: add dependabot
  .github/workflows/dependabot.yml
  backend/src/Equinor.ProjectExecutionPortal.sln
Labels: github-actions, size-xs, backend

#229 chore(eds): update eds url
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Shared/_Layout.cshtml
Labels: size-xs

#228 fix: :bug: Added padding to appgroup and border styling to colortab
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/ColorTab.tsx
  client/packages/portal-ui/src/lib/portal-menu/styles.ts
Labels: size-xs

#230 fix: :bug: Search result not erased from meny after launching an app
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/providers/menu/MenuProvider.tsx
  client/packages/portal-core/src/providers/menu/menu-types.ts
Labels: bug, size-xs
