Repository equinor/fusion-project-portal, pull requests merged in 2023-10, with the labels that each got.

#380 feat: added azure identity to radix config
  radixconfig.yaml
Labels: size-xs

#384 fix: backend pr jobs
  .github/workflows/backend-pr.yml
Labels: github-actions, size-xs

#387 feat: changeset and app promote in radix
  .changeset/README.md
  .changeset/bright-ads-glow.md
  .changeset/config.json
  .changeset/twenty-mails-return.md
  .github/workflows/common-release.yml
  package.json
  yarn.lock
Labels: size-xl

#393 feat: add database migration information label to changeset
  .changeset/pr-393-1542928735.md
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
  .github/pull_request_template.md
Labels: github-actions, size-xs

#395 chore: remove comments from changeset and improve change type regex
  .changeset/pr-395-1543127205.md
  .github/actions/create-changeset/dist/index.js
  .github/actions/create-changeset/src/changeset.ts
  .github/workflows/common-release.yml
Labels: github-actions, size-xs

#398 chore: update pr template
  .changeset/pr-398-1544881918.md
  .github/pull_request_template.md
Labels: github-actions, size-xs

#397 chore: add my account portal action option
  .changeset/pr-397-1544878353.md
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
Labels: size-xs, frontend

#401 chore: only run changeset action on review not draft
  .changeset/pr-401-1549632337.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions, size-xs

#400 fix: enforce context selection to display application list in menu
  .changeset/pr-400-1549618563.md
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/queries/portal/getAppGroups.ts
  client/packages/portal-ui/src/info-message/InfoMessage.tsx
Labels: size-sm, frontend

#406 fix: get changeset not running on release branch
  .changeset/pr-406-1560342669.md
  .github/workflows/common-changeset-pr.yml
Labels: github-actions, size-xs

#413 Doc/remove doc and update readme
  .assets/fusion.png
  .changeset/pr-413-1562414285.md
  .github/workflows/common-changeset-pr.yml
  README.md
  backend/README.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/README.md
  client/README.md
  clientBackend/README.md
  documentation/.gitignore
  documentation/README.md
  documentation/package.json
  documentation/src/.vuepress/components/ModuleBadge.vue
  documentation/src/.vuepress/config.ts
  documentation/src/.vuepress/enhanceApp.js
  documentation/src/.vuepress/nav-bar.ts
  documentation/src/.vuepress/side-bar.ts
  documentation/src/.vuepress/styles/index.scss
  documentation/src/.vuepress/theme.ts
  documentation/src/backend/index.md
  documentation/src/clientBackend/index.md
  documentation/src/frontend/frontend-spec.md
  documentation/src/frontend/index.md
  documentation/src/frontend/portal-actions.md
  documentation/src/index.md
  documentation/src/projectPortalStudy/Readme.md
  documentation/yarn.lock
  legacyAppLoader/README.md
  pipelines/README.md
Labels: documentation, size-xl, backend, frontend, pipelines

#414 feat: push changelog to docs
  .changeset/pr-414-1564307833.md
  .github/workflows/push-changelog.yml
Labels: github-actions, size-xs

#417 feat: update asset proxy url
  .changeset/pr-417-1572406933.md
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/AssetProxyConfiguration.cs
Labels: size-xs, web-server

#420 fix: legacy auth issue by providing fusion client id
  .changeset/pr-420-1574233486.md
  client/packages/portal-client/src/lib/portal-framework-config.tsx
Labels: size-xs, frontend, URGENT

#425 fix: fusionLegacyEnvIdentifier in capital letters
  .changeset/pr-425-1576203123.md
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/app/utils/app-get-legacy-client-config.ts
Labels: bug, size-xs, frontend
