Repository equinor/fusion-project-portal, pull requests merged in 2023-02, with the labels that each got.

#65 feat: support react cdn
  client/packages/portal-client/index.html
Labels: size-xs

#66 chore: add process env
  client/package.json
  client/packages/portal-client/vite.config.ts
  client/yarn.lock
Labels: size-sm

#64 feat: project master home page
  client/.gitignore
  client/package.json
  client/packages/portal-core/src/hooks/use-framework-current-context.ts
  client/packages/portal-pages/src/pages/common-styles/Styles.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.Styles.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.tsx
  client/packages/portal-pages/src/pages/context-page/Readme.md
  client/packages/portal-pages/src/pages/context-page/components/kpis/AlwaysSafe.tsx
  client/packages/portal-pages/src/pages/context-page/components/kpis/Handover.tsx
  client/packages/portal-pages/src/pages/context-page/components/kpis/LowCarbon.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/ProjectDescription.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/ProjectDetails.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/milestones/Milestones.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/milestones/use-presence-query.ts
  client/packages/portal-pages/src/pages/context-page/components/project-cards/styles.ts
  client/packages/portal-pages/src/pages/context-page/components/project-cards/types.ts
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/bookmarks/Bookmarks.tsx
  client/packages/portal-ui/src/lib/help/Help.tsx
  client/packages/portal-ui/src/lib/kpis/KpiCard.tsx
  client/packages/portal-ui/src/lib/kpis/KpiItem.tsx
  client/packages/portal-ui/src/lib/kpis/index.ts
  client/packages/portal-ui/src/lib/kpis/types.ts
  client/packages/portal-ui/src/lib/my-account/MyAccount.tsx
  client/packages/portal-ui/src/lib/side-sheet-header/SideSheetHeader.tsx
  client/packages/portal-ui/src/lib/side-sheet-header/side-sheet-header-styles.ts
  client/packages/portal-ui/src/lib/side-sheet-header/types.ts
  client/packages/portal-ui/src/lib/task/Task.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/WorkAssigned.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/asignment-queries.ts
  client/packages/portal-ui/src/lib/task/work-assigned/types/fusion-task.ts
  client/packages/portal-ui/src/lib/task/work-assigned/types/pims-task.ts
  client/packages/portal-ui/src/lib/task/work-assigned/types/procosys-task.ts
  client/packages/portal-ui/src/lib/task/work-assigned/types/sheared.ts
  client/packages/portal-ui/src/lib/task/work-assigned/use-assignment.ts
  client/packages/portal-ui/src/lib/widgets/notifications/Notifications.tsx
  client/packages/portal-ui/tsconfig.lib.json
  client/packages/service-message/components/ServiceMessage.tsx
  client/yarn.lock
Labels: size-xl

#67 chore: update signalr with moduel form fusion framwork
  client/.gitignore
  client/package.json
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/framework-configurator/app-configurator.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/module-signalr/config-builder.ts
  client/packages/portal-core/src/module-signalr/configurator.ts
  client/packages/portal-core/src/module-signalr/enable-signalr-module.ts
  client/packages/portal-core/src/module-signalr/index.ts
  client/packages/portal-core/src/module-signalr/module.ts
  client/packages/portal-core/src/module-signalr/provider.ts
  client/packages/portal-core/src/module-signalr/topic.ts
  client/packages/portal-core/src/module-signalr/use-signalr.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.Styles.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.tsx
  client/packages/service-message/provider/ServiceMessageProvider.tsx
  client/yalc.lock
  client/yarn.lock
Labels: size-lg
