Repository equinor/fusion-project-portal, pull requests merged in 2023-04, with the labels that each got.

#135 chore: Add AI to API
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
Labels: size-xs, backend, size-sm

#128 fix: remove react cdn
  client/packages/portal-client/index.html
Labels: size-xs

#136 fix(Client): user and url flow
  client/CODE_OF_CONDUCT.md
  client/CONTRIBUTING.md
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/src/utils/context-utils.ts
  client/packages/portal-core/src/app-loader/AppLoader.tsx
  client/packages/portal-core/src/app-loader/AppNotAwaitable.tsx
  client/packages/portal-core/src/app-loader/use-app-loader.ts
  client/packages/portal-core/src/context-selector/ContextProvider.tsx
  client/packages/portal-core/src/context-selector/ContextSelector.tsx
  client/packages/portal-core/src/context-selector/PortalContextSelector.tsx
  client/packages/portal-core/src/context-selector/utils.test.ts
  client/packages/portal-core/src/context-selector/utils.ts
  client/packages/portal-core/src/framework-configurator/app-configurator.ts
  client/packages/portal-core/src/framework-configurator/portal-context-configurators.ts
  client/packages/portal-core/src/framework-configurator/portal-context-history.ts
  client/packages/portal-core/src/hooks/use-context-resolver.ts
  client/packages/portal-core/src/hooks/use-current-app-group.ts
  client/packages/portal-core/src/providers/current-view/CurrentViewContext.tsx
  client/packages/portal-core/src/queries/portal/getViews.ts
  client/packages/portal-core/src/types/view.ts
  client/packages/portal-core/src/utils/index.ts
  client/packages/portal-core/src/utils/utils.test.ts
  client/packages/portal-core/src/utils/utils.ts
  client/packages/portal-pages/src/index.ts
  client/packages/portal-pages/src/pages/project-page/ProjectPage.Styles.ts
  client/packages/portal-pages/src/pages/project-page/ProjectPage.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/AlwaysSafe.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/LowCarbon.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/Handover.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/types.ts
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/useHndoverQuesry.ts
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/utils.ts
  client/packages/portal-pages/src/pages/project-page/components/project-cards/ProjectDescription.tsx
  client/packages/portal-pages/src/pages/project-page/components/project-cards/ProjectDetails.tsx
  client/packages/portal-pages/src/pages/project-page/components/project-cards/milestones/LoadingSeceton.tsx
  client/packages/portal-pages/src/pages/project-page/components/project-cards/milestones/Milestones.tsx
  client/packages/portal-pages/src/pages/project-page/components/project-cards/milestones/use-presence-query.ts
  client/packages/portal-pages/src/pages/project-page/components/project-cards/styles.ts
  client/packages/portal-pages/src/pages/project-page/components/project-cards/types.ts
  client/packages/portal-pages/src/pages/view-page/ViewPage.Styles.ts
  client/packages/portal-pages/src/pages/view-page/ViewPage.tsx
  client/packages/portal-ui/src/lib/header/HeaderContextSelector.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/Breadcrumbs.tsx
  client/packages/portal-ui/src/lib/portal-menu/group-wrapper/GroupWrapper.tsx
  client/tools/generators/.gitkeep
  client/tools/tsconfig.tools.json
Labels: size-xl

#138 Feat: Implement caching for Fusion apps
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/CacheDuration.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/CacheManager.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/FusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/ICacheManager.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/IFusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/AppService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/IAppService.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Constants.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/CacheModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
Labels: size-md, backend

#140 Chore: Ensure order by App within appGroup
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurfaceAppGroupsWithApps/GetWorkSurfaceAppGroupsWithAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/WorkSurfaceAppDto.cs
Labels: backend

#153 Chore: Remove console logging + minor cleanup
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/LegacyAppRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Equinor.ProjectExecutionPortal.ClientBackend.csproj
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/AssetProxyConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/SpaConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
Labels: size-sm

#131 feat: task grouping
  client/packages/portal-pages/src/pages/common-styles/Styles.ts
  client/packages/portal-ui/src/lib/task/Task.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/GroupAssignments.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/Tasks.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/WorkAssigned.tsx
  client/tsconfig.base.json
Labels: size-lg

#154 chore: Typo: Rename masal property to msal
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/types/portal-config.ts
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/development/portal-client-bundle-dev.js
Labels: size-sm

#158 fix: favicon copied to dist folder
  client/package.json
  client/packages/portal-client/src/assets/favicon.ico
  client/packages/portal-client/vite.config.ts
  client/yarn.lock
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Shared/_Layout.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/development/README.txt
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/development/favicon.ico
Labels: size-xs

#159 fix: remove handover kpi from project page
  client/packages/portal-pages/src/pages/project-page/ProjectPage.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/AlwaysSafe.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/LowCarbon.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/Handover.tsx
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/types.ts
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/useHndoverQuesry.ts
  client/packages/portal-pages/src/pages/project-page/components/kpis/handover/utils.ts
Labels: size-md

#160 fix: navigate on context select in header if context is not present in url
  client/packages/portal-ui/src/lib/header/HeaderContextSelector.tsx
Labels: size-xs

#161 fix: adding custom height for my work assigned and fixed group if undefined
  client/packages/portal-ui/src/lib/task/work-assigned/Tasks.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/WorkAssigned.tsx
Labels: size-xs

#142 feat: bookmark added and sidesheet component
  client/package.json
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheet.tsx
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheetStyles.ts
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
  client/packages/portal-core/src/portal-actions/portal-actions.ts
  client/packages/portal-core/src/portal-actions/types.ts
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/bookmarks/Bookmarks.tsx
  client/packages/portal-ui/src/lib/help/Help.tsx
  client/packages/portal-ui/src/lib/my-account/MyAccount.tsx
  client/packages/portal-ui/src/lib/side-sheet-header/SideSheetHeader.tsx
  client/packages/portal-ui/src/lib/side-sheet-header/side-sheet-header-styles.ts
  client/packages/portal-ui/src/lib/side-sheet-header/types.ts
  client/packages/portal-ui/src/lib/task/Task.tsx
  client/packages/portal-ui/src/lib/widgets/notifications/Notifications.tsx
  client/packages/service-message/components/ServiceMessage.tsx
  client/yarn.lock
Labels: size-xl

#168 fix: grouptask undefined and add key prop
  client/.vscode/settings.json
  client/packages/portal-ui/src/lib/task/work-assigned/Tasks.tsx
  client/packages/portal-ui/src/lib/task/work-assigned/types/fusion-task.ts
Labels: size-sm

#171 fix: add cursor pointer on portal logo
  client/packages/portal-ui/src/lib/header/Logo.tsx
Labels: size-xs
