Repository equinor/fusion-project-portal, pull requests merged in 2023-09, with the labels that each got.

#335 feat: snyk dotnet and node as two runs
  .github/workflows/snyk-dotnet.yml
  .github/workflows/snyk-node.yml
  .github/workflows/snyk_node.yml
Labels: github-actions, size-sm

#339 Chore/rename initial title
  .github/actions/client-build/action.yml
  .github/actions/client-test/action.yml
  .github/actions/es-lint/action.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/labeler/action.yml
  .github/actions/node-setup/action.yml
  .github/actions/post-pull-request/action.yml
  .github/actions/size-labeler.yml/action.yml
  .github/workflows/backend-pr.yml
  .github/workflows/client-pr.yml
  .github/workflows/common-pr.yml
  .github/workflows/web-server-pr.yml
  client/packages/portal-client/index.html
Labels: github-actions, size-md, frontend

#340 chore: remove snyk as action
  .github/actions/snyk-dotnet/action.yml
  .github/actions/snyk-node/action.yml
  .github/workflows/backend-pr.yml
  .github/workflows/client-pr.yml
Labels: github-actions

#330 chore: further improved error handling on API + minor refactor
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddContextAppToWorkSurface/AddContextAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/AddGlobalAppToWorkSurface/AddGlobalAppToWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApp/GetOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/WorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/AppGroupController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddContextAppToWorkSurfaceRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/WorkSurfaceApp/ApiAddGlobalAppToWorkSurfaceRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
Labels: backend, size-lg

#349 chore: remove common action in client pr wf
  .github/workflows/client-pr.yml
Labels: github-actions, size-xs

#348 chore: remove client docker
  client/Dockerfile
  client/docker-compose.yml
  client/docker/nginx/conf.d/default.conf
  client/docker/scripts/run-nginx.sh
Labels: size-xs, frontend

#355 chore(snyk): action to update lockfile on snyk PRs
  .github/workflows/update-lockfile.yml
Labels: github-actions, size-xs

#357 chore(snyk): action to trigger on head branch name
  .github/workflows/update-lockfile.yml
Labels: github-actions, size-xs

#352 [Snyk] Upgrade @equinor/fusion-react-styles from 0.5.7 to 0.5.9
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs

#354 [Snyk] Upgrade @equinor/fusion-components from 2.11.7 to 2.12.0
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs

#365 chore: update Issu template with backen url's and dod
  .github/issue_template.md
Labels: github-actions, size-xs

#366 chore: create CODEOWNERS
  .github/CODEOWNERS
Labels: github-actions, size-xs

#373 fix: favorites links
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
Labels: size-xs, frontend
