Repository equinor/fusion-project-portal, pull requests merged in 2023-08, with the labels that each got.

#272 chore: minor bug fixes
  client/packages/notification/api/getUnreadNotifications.ts
  client/packages/notification/components/NotificationDateDivision.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/main.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-core/src/debug/configureDebug.ts
  client/packages/portal-core/src/debug/index.ts
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-portal-config.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/modules/telemetry/use-telemetry.ts
  client/packages/portal-ui/src/header/Header.tsx
  client/packages/portal-ui/src/header/Logo.tsx
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
Labels: size-sm

#280 feat: add husky
  .github/workflows/eslint.yml
  .gitignore
  .husky/pre-commit
  client/package.json
  package.json
  yarn.lock
Labels: github-actions, size-xs, size-sm

#283 fix: fixing context navigation when context is not onboarded
  client/packages/portal-client/src/components/context/HasContext.tsx
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-core/src/framework-configurator/portal-context-configurators.ts
  client/packages/portal-core/src/hooks/use-context-resolver.ts
  client/packages/portal-core/src/hooks/use-onboarded-contexts.ts
  client/packages/portal-core/tsconfig.json
  client/packages/portal-pages/src/pages/project-page/ProjectPage.tsx
Labels: size-xs

#277 feat: Improved return values & updated queries to return null and pass handling to controllers
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalWithApps/GetPortalWithAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurfaces/GetWorkSurface/GetWorkSurfaceQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurfaces/GetWorkSurfaceAppGroupsWithContextAndGlobalApps/GetWorkSurfaceAppGroupsWithContextAndGlobalAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurfaces/GetWorkSurfaceAppGroupsWithGlobalApps/GetWorkSurfaceAppGroupsWithGlobalAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/IWorkSurfaceService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/WorkSurfaceService.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/AppGroupController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/BundleController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/WorkSurfaceController.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/WorkSurfaceControllerTests.cs
Labels: size-md, backend

#290 fix: update build config to move globalResources and appLegacyLoader to proper location
  client/packages/portal-client/vite.config.ts
  client/packages/portal-core/tsconfig.json
Labels: size-xs

#293 fix: Fix favorites, apps are disabled when not active in context
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
  client/packages/portal-pages/src/pages/project-page/hooks/use-favorites.ts
Labels: size-md

#295 fix: vite build mode
  client/packages/portal-client/package.json
  client/packages/portal-client/vite.config.ts
Labels: size-sm

#298 Disable cache for index page due to sometime outdated js client
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Controllers/BundleController.cs
Labels: size-xs

#304 chore: update issue_template.md
  .github/issue_template.md
Labels: github-actions, size-xs

#308 fix: ensure that when context change context ID in url is the only id …
  client/jest.config.ts
  client/package.json
  client/packages/portal-client/package.json
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/packages/portal-client/src/utils/context-utils.test.ts
  client/packages/portal-client/src/utils/context-utils.ts
  client/yarn.lock
Labels: size-xl

#309 chore: test setup
  client/packages/portal-client/package.json
  client/packages/portal-core/package.json
  client/packages/portal-core/src/utils/utils.test.ts
  client/packages/portal-core/src/utils/utils.ts
  client/packages/portal-ui/package.json
  client/packages/portal-ui/src/divider/Devider.test.tsx
  client/packages/portal-ui/src/divider/Divider.tsx
  client/packages/portal-ui/src/header/Header.spec.tsx
  client/packages/portal-ui/tsconfig.json
  client/packages/portal-ui/vite.config.ts
  client/packages/portal-utils/package.json
  client/packages/portal-utils/src/list-modifiers/move-item-by-index.test.ts
  client/packages/portal-utils/src/response-error-parser/response-error-parser.test.ts
  client/packages/portal-utils/src/response-error-parser/response-error-parser.ts
  client/packages/portal-utils/tsconfig.json
  client/yarn.lock
Labels: size-xl, QA/no-test

#311 Add Radix build status badge to README
  README.md
Labels: size-xs

#315 chore: update vuepress and theme
  documentation/.gitignore
  documentation/package.json
  documentation/src/.vuepress/components/TagList.vue
  documentation/src/.vuepress/config.ts
  documentation/src/.vuepress/enhanceApp.js
  documentation/src/.vuepress/nav-bar.ts
  documentation/src/.vuepress/side-bar.ts
  documentation/src/.vuepress/styles/index.scss
  documentation/src/.vuepress/styles/index.styl
  documentation/src/.vuepress/theme.ts
  documentation/src/backend/index.md
  documentation/src/clientBackend/index.md
  documentation/src/frontend/frontend-spec.md
  documentation/src/frontend/index.md
  documentation/src/frontend/portal-actions.md
  documentation/src/index.md
  documentation/src/projectPortalStudy/Readme.md
  documentation/src/tags.md
  documentation/yarn.lock
Labels: documentation, size-xl
