Repository equinor/fusion-project-portal, pull requests merged in 2023-03, with the labels that each got.

#76 chore: nx migration from 14 to 15
  .github/workflows/ab-wi-validation.yml
  client/jest.preset.js
  client/migrations.json
  client/nx.json
  client/package.json
  client/packages/portal-client/project.json
  client/packages/portal-core/project.json
  client/packages/portal-pages/project.json
  client/packages/portal-ui/project.json
  client/packages/portal-utils/project.json
  client/packages/service-message/project.json
  client/tsconfig.base.json
  client/workspace.json
  client/yarn.lock
Labels: size-xl, github-actions

#109 feat: 107 add fusion navigation module to portal
  client/package.json
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-client/src/components/portal-router/PortalRouter.tsx
  client/packages/portal-client/src/framework-config/portal-framework-config.tsx
  client/yarn.lock
Labels: size-md

#111 chore: update fusion packages and fixed useObservableState
  client/package.json
  client/packages/portal-core/src/app-loader/uss-app-module.ts
  client/yarn.lock
Labels: size-lg

#120 chore: update fusion endpoint prefix
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
Labels: size-xs, backend

#122 fix: allow for backend to provide config at startup by adding config …
  client/.tools/updateFusionCore.ps1
  client/package.json
  client/packages/portal-client/index.html
  client/packages/portal-client/src/main.tsx
  client/packages/portal-client/src/portal.config.json
  client/packages/portal-client/vite.config.ts
  client/packages/portal-core/src/types/portal-config.ts
  client/yarn.lock
Labels: enhancement, size-xl, size-md

#118 feat: context selector placeholder text
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-core/src/context-selector/ContextProvider.tsx
  client/packages/portal-core/src/context-selector/ContextSelector.tsx
  client/packages/portal-core/src/context-selector/TopBarContextSelector.tsx
  client/packages/portal-core/src/context-selector/index.ts
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/breadcrumbs/AppBreadcrumb.tsx
  client/packages/portal-ui/src/lib/breadcrumbs/HomeBreadcrumb.tsx
  client/packages/portal-ui/src/lib/breadcrumbs/PortalBreadcrumbs.tsx
  client/packages/portal-ui/src/lib/breadcrumbs/index.ts
  client/packages/portal-ui/src/lib/breadcrumbs/styles.ts
  client/packages/portal-ui/src/lib/header/Header.spec.tsx
  client/packages/portal-ui/src/lib/header/Header.tsx
  client/packages/portal-ui/src/lib/header/HeaderContextSelector.tsx
  client/packages/portal-ui/src/lib/header/HeaderStyles.ts
  client/packages/portal-ui/src/lib/header/Icon.tsx
  client/packages/portal-ui/src/lib/header/Logo.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/AppBreadcrumb.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/AppGroupBreadCrumb.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/Breadcrumbs.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/index.ts
  client/packages/portal-ui/src/lib/header/breadcrumbs/styles.ts
  client/packages/portal-ui/src/lib/portal-header/Icon.tsx
  client/packages/portal-ui/src/lib/portal-header/PortalHeader.spec.tsx
  client/packages/portal-ui/src/lib/portal-header/PortalHeader.tsx
  client/packages/portal-ui/src/lib/portal-menu/MenuStyles.ts
  client/packages/portal-ui/src/lib/portal-menu/app-card/AppCard.tsx
  client/packages/portal-ui/src/lib/portal-menu/group/group-styles.ts
Labels: bug, enhancement, size-xl

#125 chore: fixing linting part 1
  client/.eslintrc.json
  client/packages/portal-client/src/components/portal-frame/PortalFrame.tsx
  client/packages/portal-client/src/components/portal-header/Header.tsx
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheet.tsx
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheetStyles.ts
  client/packages/portal-client/src/components/portal-side-sheet/index.ts
  client/packages/portal-core/src/app-loader/use-app-loader.ts
  client/packages/portal-core/src/app/appMounted.ts
  client/packages/portal-core/src/app/appsMatchingSearch.ts
  client/packages/portal-core/src/app/index.ts
  client/packages/portal-core/src/framework-configurator/portal-context-configurators.ts
  client/packages/portal-core/src/framework-configurator/portal-context-history.ts
  client/packages/portal-core/src/hooks/use-context-resolver.ts
  client/packages/portal-core/src/index.ts
  client/packages/portal-core/src/providers/current-view/CurrentViewContext.tsx
  client/packages/portal-core/src/providers/current-view/FailedToLoadViews.tsx
  client/packages/portal-core/src/providers/menu/MenuProvider.tsx
  client/packages/portal-core/src/queries/hooks/use-views-query.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.Styles.ts
  client/packages/portal-pages/src/pages/context-page/ContextPage.tsx
  client/packages/portal-pages/src/pages/context-page/Readme.md
  client/packages/portal-pages/src/pages/context-page/components/project-cards/ProjectDetails.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/milestones/LoadingSeceton.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/milestones/Milestones.tsx
  client/packages/portal-pages/src/pages/context-page/components/project-cards/milestones/use-presence-query.ts
  client/packages/portal-pages/src/pages/context-page/components/project-cards/types.ts
  client/packages/portal-pages/src/pages/view-page/ViewPageHeader.tsx
  client/packages/portal-pages/src/pages/view-page/ViewSelector.tsx
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/lib/avatar/TopBarAvatar.tsx
  client/packages/portal-ui/src/lib/avatar/presence-observable.ts
  client/packages/portal-ui/src/lib/fatal-error/FatalError.tsx
  client/packages/portal-ui/src/lib/header/breadcrumbs/Breadcrumbs.tsx
  client/packages/portal-ui/src/lib/portal-side-sheet/PortalSideSheet.tsx
  client/packages/portal-ui/src/lib/top-bar-actions/TopBarActionList.tsx
  client/packages/portal-ui/src/lib/top-bar-actions/TopBarActionMenuDropdown.tsx
  client/packages/portal-utils/src/app/appsMatchingSearch.ts
  client/packages/portal-utils/src/index.ts
  client/packages/portal-utils/src/storage/local-storage.ts
Labels: size-xl

#126 chore: remove some KPIs from task
  client/packages/portal-ui/src/lib/task/work-assigned/WorkAssigned.tsx
Labels: size-md

#119 feat: initial client backend implementation
  backend/README.md
  backend/src/Equinor.ProjectExecutionPortal.sln
  clientBackend.Dockerfile
  clientBackend/.gitignore
  clientBackend/src/.dockerignore
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend.sln
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/.gitignore
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyHandler.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/LegacyAppRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/LegacyAppResourcesRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/ProfileImageRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Controllers/MainController.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Equinor.ProjectExecutionPortal.ClientBackend.csproj
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/PortalConstants.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/README.md
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Main/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Shared/_Layout.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Shared/_Layout.cshtml.css
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/_ViewImports.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/_ViewStart.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.Development.json
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/nuget.config
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/assets/homePageBackground.f1ead155.svg
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/assets/index.html
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/assets/portal-client-bundle.js
  documentation/src/clientBackend/Readme.md
Labels: documentation, size-xl, backend

#129 feat: Add support for Radix for backend
  backend/src/Dockerfile
  backend/src/Equinor.ProjectExecutionPortal.WebApi/.dockerignore
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Dockerfile
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.Development.json
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  backend/src/Equinor.ProjectExecutionPortal.sln
  backend/src/nuget.config
  clientBackend.Dockerfile
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/.gitignore
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.Development.json
  clientBackend/src/nuget.config
  radixconfig.yaml
Labels: size-xl, size-md, backend, size-lg
