Repository equinor/fusion-project-portal, pull requests merged in 2023-06, with the labels that each got.

#234 chore: moved dependabot to .github folder
  .github/dependabot.yml
  backend/src/Equinor.ProjectExecutionPortal.sln
Labels: github-actions, size-xs, backend

#235 fix: :bug: fix cpu usage
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/app-loader/uss-app-module.ts
  client/packages/portal-pages/src/pages/project-page/components/favorites/Favorites.tsx
Labels: size-xs

#237 feat: apps should be ordered by Name instead of Order
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurfaceAppGroupsWithContextAndGlobalApps/GetWorkSurfaceAppGroupsWithContextAndGlobalAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/WorkSurface/GetWorkSurfaceAppGroupsWithGlobalApps/GetWorkSurfaceAppGroupsWithGlobalAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/AppService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/IWorkSurfaceService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/WorkSurfaceService.cs
Labels: backend, size-sm

#238 feat: appGroups should be sorted by Name, not Order
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/WorkSurfaceService/WorkSurfaceService.cs
Labels: size-xs, backend

#239 feat: :sparkles: alphabetical order in meny
  client/packages/portal-utils/src/menu-utils/utils.ts
Labels: size-xs, frontend

#242 feat: Add external DNS in Radix
  radixconfig.yaml
Labels: size-xs

#240 fix: :bug: Ability to de-select apps for Business Area/Category in Pr…
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
Labels: size-xs

#244 feat: update onboarded app
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/UpdateOnboardedApp/UpdateOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiUpdateOnboardedAppRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AppGroupControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
Labels: size-md, backend

#257 feat: added /metrics controller endpoint used for Radix
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/MetricsController.cs
Labels: size-xs, backend

#250 feat: add support for wildcard client bundle js import
  client/packages/portal-client/vite.config.ts
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Controllers/BundleController.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/ServiceModule.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/SpaConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Services/ClientBundleService.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Services/IClientBundleService.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Views/Bundle/Index.cshtml
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/development/README.txt
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/development/index.dev.js
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/wwwroot/ClientApp/production/readme.txt
Labels: size-md

#268 chore: Automatically add team as reviewers to Dependabot
  .github/dependabot.yml
Labels: github-actions, size-xs

#267 feat: on context not available display dialog and remove selected context.
  client/packages/portal-core/src/context-selector/ContextSelector.tsx
  client/packages/portal-core/src/context-selector/PortalContextSelector.tsx
  client/packages/portal-core/src/framework-configurator/portal-context-configurators.ts
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-onboarded-contexts.ts
  client/packages/portal-core/src/queries/hooks/index.ts
  client/packages/portal-core/src/queries/hooks/use-onboarded-context-query.ts
  client/packages/portal-core/src/queries/portal/getAvailableContexts.ts
  client/packages/portal-core/src/types/onboarded-contexts.ts
  client/packages/portal-pages/src/pages/project-page/ProjectPage.tsx
  client/packages/portal-pages/src/pages/view-page/ViewContextAvailableDialog.tsx
  client/packages/portal-pages/src/pages/view-page/ViewPage.Styles.ts
  client/packages/portal-pages/src/pages/view-page/ViewPage.tsx
Labels: size-md
