Repository equinor/fusion-project-portal, pull requests merged in 2024-03, with the labels that each got.

#588 chore: scoping styling for info box
  .changeset/pr-588-1754308665.md
  client/packages/portal-pages/src/pages/project-page/components/InfoBox/InfoBox.tsx
Labels: size-xs, frontend

#600 feat: project-predictions
  .changeset/pr-600-1771708999.md
  client/packages/core/src/user/hooks/index.ts
  client/packages/core/src/user/hooks/useUserContexts.ts
  client/packages/portal-client/src/lib/portal-framework-config.tsx
  client/packages/portal-pages/src/pages/project-portal-page/ProjectPortalPage.tsx
Labels: size-md, frontend

#604 fix: add fusion enviroment variable
  .changeset/pr-604-1774155564.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  radixconfig.yaml
Labels: size-xs, backend

#611 azure identity true for prod
  .changeset/pr-611-1783937277.md
  radixconfig.yaml
Labels: size-xs
