Repository equinor/fusion-project-portal, pull requests merged in 2024-05, with the labels that each got.

#633 ci: :wrench: Update node version after vitest changes
  .changeset/pr-633-1850845943.md
  .github/workflows/push-code-coverage.yml
Labels: github-actions, size-xs

#637 fix: Use default token for fusion integration
  .changeset/pr-637-1857569361.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/appsettings.json
Labels: size-xs, backend, web-server

#641 feat: add response compression
  .changeset/pr-641-1860250501.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
Labels: size-xs, backend

#644 delete unused portal entity
  .changeset/pr-644-1870537746.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/WorkSurfaces/CreateWorkSurface/CreateWorkSurfaceCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalWithApps/GetPortalWithAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/Portal.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/WorkSurface.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/EntityConfigurations/PortalConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240514110425_DeleteOldPortal.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240514110425_DeleteOldPortal.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/ProjectExecutionPortalContextModelSnapshot.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/ProjectExecutionPortalContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/PortalData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Misc/ApplicationDbContextExtension.cs
Labels: size-md, backend

#647 Fusion Project Portal Release (#632)
  .changeset/pr-647-1884331840.md
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
Labels: size-sm, frontend
