Repository equinor/fusion-project-portal, pull requests merged in 2024-12, with the labels that each got.

#878 chore: fix bug where multiple sign-in prompts occur
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Controllers/BundleController.cs
Labels: backend

#882 feat: Disable response caching
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
Labels: backend

#893 fix: update API endpoints for app keys to apps in PortalAppsClient
  .changeset/pr-893-2230942484.md
  client/packages/core/src/modules/portal-apps/portal-apps-client.ts
Labels: size-xs, frontend

#892 chore: fix package vulnerabilities
  .changeset/pr-892-2229093445.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/AddContextTypeToOnboardedApp/AddContextTypeToOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/AddContextTypeToPortal/AddContextTypeToPortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/RemovePortal/RemovePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AccountService/AccountService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/IAppService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/ContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/IContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/Exceptions/ApplicationException.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/EntityConfigurations/ContextTypeConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ApiControllerBase.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Equinor.ProjectExecutionPortal.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Equinor.ProjectExecutionPortal.Tests.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyHandler.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyRoutes.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/FusionAppsApiResourcesRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/ProfileImageRequestTransformer.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/ApplicationInsightsOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/AssetProxyOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/ClientBundleOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/FusionBookmarksOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/FusionPortalApiOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Configurations/FusionProjectPortalApiOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Constants.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Controllers/BundleController.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Equinor.ProjectExecutionPortal.ClientBackend.csproj
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/AssetProxyConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Modules/SpaConfiguration.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Services/ClientBundleService.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Services/IClientBundleService.cs
Labels: backend, size-lg, web-server

#897 feat: Add information about whether an app is found in Fusion
  .changeset/pr-897-2237253494.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/AppService.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
Labels: size-xs, backend

#898 chore: Update tests
  .changeset/pr-898-2237415115.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiPortalOnboardedApp.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AssertHelpers.cs
Labels: size-xs, backend

#902 fix: Disable landing page feature and remove related configuration
  .changeset/pr-902-2242181855.md
  client/packages/portal-client/src/components/portal-router/PortalPage.tsx
  client/packages/portal-client/src/lib/portal-framework-config.tsx
Labels: size-xs, frontend
