Repository equinor/fusion-project-portal, pull requests merged in 2024-10, with the labels that each got.

#809 chore: update PortalSideSheet styles
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheet.tsx
Labels: size-xs, frontend

#812 feat: Add link to CC App sharepoint site in the Help section
  .changeset/pr-812-2107152275.md
  client/apps/portal-administration/package.json
  client/packages/components/src/components/help/Help.tsx
  client/packages/components/src/components/help/HelpMenu.tsx
Labels: size-xs, frontend

#808 chore: fix errors and add data owner on milestones
  .changeset/pr-808-2100756531.md
  client/package.json
  client/packages/components/src/components/my-roles-tab/hooks/use-update-my-roles-query.ts
  client/packages/portal-pages/src/pages/project-page/components/milestones/LoadingSection.tsx
  client/packages/portal-pages/src/pages/project-page/components/milestones/Milestones.tsx
  client/packages/portal-pages/src/pages/project-page/components/milestones/use-presence-query.ts
  client/packages/portal-pages/src/pages/sheared/components/data-info/DataInfo.tsx
  client/yarn.lock
Labels: size-lg, frontend

#821 chore: update api version on meetings actions
  .changeset/pr-821-2129413296.md
  client/packages/components/src/components/task/hooks/use-assignment.ts
  client/packages/components/src/components/task/queries/fusion-meetings-queries.ts
Labels: size-xs, frontend

#822 chore: Update app.config.ts and package.json in legacyAppLoader
  .changeset/pr-822-2137562008.md
  client/.gitignore
  client/apps/legacyAppLoader/app.config.ts
  client/apps/legacyAppLoader/package.json
  client/apps/legacyAppLoader/src/config.ts
  client/apps/legacyAppLoader/src/fusion-app-loader/components/LegacyAppLoader.tsx
  client/apps/legacyAppLoader/src/fusion-app-loader/components/LegacyAppWrapper.tsx
  client/apps/legacyAppLoader/src/fusion-app-loader/components/LegacyWrapper.tsx
  client/packages/core/src/app/hooks/use-app-loader.ts
Labels: size-md, frontend

#825 chore: Refactor LegacyFusionWrapper and create-fusion-context
  .changeset/pr-825-2137703982.md
  client/apps/legacyAppLoader/src/app-loader/legacy-interopt/components/LegacyFusionWrapper.tsx
  client/apps/legacyAppLoader/src/app-loader/legacy-interopt/create-fusion-context.ts
  client/apps/legacyAppLoader/src/app-loader/legacy-interopt/create-service-resolver.ts
Labels: size-lg, frontend

#826 fix: providing the right env key to appLoader
  .changeset/pr-826-2137768494.md
  client/packages/core/src/app/hooks/use-app-loader.ts
Labels: size-xs, frontend

#828 refactor: Improve loading logic in LegacyAppContainer, by loading app…
  .changeset/pr-828-2137854066.md
  client/apps/legacyAppLoader/src/app-loader/legacy-interopt/LegacyAppContainer.ts
Labels: size-xs, frontend

#830 refactor: Update key property in registerCurrentApps function call
  .changeset/pr-830-2140934096.md
  client/packages/portal-client/src/components/service-message-filter/ServiceMessageFilter.tsx
Labels: size-xs, frontend

#835 Chore: remove asset proxy reference
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/AssetProxyConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/AssetProxyHandler.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/AssetProxyOptions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/LegacyAppRequestTransformer.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/LegacyAppResourcesRequestTransformer.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/AssetProxy/ProfileImageRequestTransformer.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Constants.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/FusionController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Equinor.ProjectExecutionPortal.WebApi.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  radixconfig.yaml
Labels: size-xl, backend

#839 feat: add profile controller
  .changeset/pr-839-2150926314.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
Labels: size-xs, backend

#841 feat: admin app use new app manifest model
  .changeset/pr-841-2151009734.md
  client/apps/portal-administration/app.config.ts
  client/apps/portal-administration/package.json
  client/apps/portal-administration/src/components/PortalApps/PortalAppTable.tsx
  client/apps/portal-administration/src/config.ts
  client/apps/portal-administration/yarn.lock
Labels: size-xl, frontend

#842 chore: update app release actions
  .changeset/pr-842-2151222137.md
  .github/actions/get-fusion-token/action.yml
  .github/workflows/common-release.yml
  .github/workflows/deploy-portal-administration-ci.yml
Labels: github-actions, size-xs

#834 improvement: backend optimalization and refactoring
  .editorconfig
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/FusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/ContextTypes/AddContextType/AddContextTypeCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/UpdateOnboardedApp/UpdateOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/AddContextAppToPortal/AddContextAppToPortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/CreatePortal/CreatePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/ContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextTypeService/ContextTypeService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/PortalService/PortalService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/ContextType.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/Portal.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/AuthenticationType.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/IAuthenticator.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/IBearerTokenProvider.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/ICurrentUserProvider.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authentication/Authenticator.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authentication/AuthenticatorOptions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/ClaimsExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/IAuthorizationServiceExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Equinor.ProjectExecutionPortal.WebApi.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Middleware/CurrentUserMiddleware.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Misc/CurrentUserProvider.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Misc/IBearerTokenSetter.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Equinor.ProjectExecutionPortal.Tests.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthHandler.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/AssetProxy/AssetProxyHandler.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Equinor.ProjectExecutionPortal.ClientBackend.csproj
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
  radixconfig.yaml
Labels: size-xl, backend
