Repository equinor/fusion-project-portal, pull requests merged in 2024-04, with the labels that each got.

#609 feat: app context expansion message
  .changeset/pr-609-1777115383.md
  client/packages/components/src/components/app-context-message/AppContextMessage.tsx
  client/packages/components/src/index.ts
  client/packages/core/src/modules/portal-config/hooks/use-favorites.ts
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-pages/src/pages/project-portal-page/ProjectPortalPage.tsx
  client/packages/portal-pages/src/pages/sheared/components/AllApps.tsx
  client/packages/ui/src/components/message/Message.tsx
  radixconfig.yaml
Labels: size-md, frontend

#626 ci: :wrench: Update yarn.lock files for snyk prs
  .changeset/pr-626-1840445634.md
  .github/workflows/update-lockfile.yml
Labels: github-actions, size-xs

#550 [Snyk] Upgrade @types/react-dom from 17.0.20 to 17.0.25
  .github/workflows/update-lockfile.yml
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs
