Repository equinor/fusion-project-portal, pull requests merged in 2024-09, with the labels that each got.

#736 chore: implemented portal configuration integration tests
  .changeset/pr-736-2050972397.md
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AssertHelpers.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
Labels: size-md, backend

#721 ci: add dotnet build/test ci action
  .changeset/pr-721-2043314279.md
  .github/workflows/backend-pr.yml
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  backend/src/Equinor.ProjectExecutionPortal.sln
Labels: github-actions, size-xs

#744 Feat/portal onboarded apps endpoint
  .changeset/pr-744-2069530352.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalOnboardedApp/GetPortalOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalOnboardedApps/GetPortalOnboardedAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalOnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/IAppService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/ContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextService/IContextService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/PortalService/IPortalService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/PortalService/PortalService.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationServicesModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiPortalApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiPortalOnboardedApp.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/ContextTypeControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
Labels: backend, size-lg

#746 fix: install fusion cli in docker file
  .changeset/pr-746-2073331715.md
  clientBackend.Dockerfile
Labels: size-xs

#747 fix: build-fix
  .changeset/pr-747-2073460455.md
  .github/workflows/common-release.yml
  .github/workflows/deploy-apps-test.yml
  client/apps/portal-administration/package.json
  client/package.json
  clientBackend.Dockerfile
Labels: github-actions, size-xs, frontend

#751 change remove-global-app to be remove-app
  .changeset/pr-751-2076327141.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/RemoveGlobalAppFromPortal/RemoveAppFromPortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiRemovePortalAppRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
Labels: size-xs, backend

#763 chore: update node version used in workflows
  .changeset/pr-763-2082781286.md
  .github/workflows/client-pr.yml
  .github/workflows/push-code-coverage.yml
  client/packages/portal-client/index.html
Labels: github-actions, size-xs

#771 chore: update lerna dependency to version 8.1.8
  .changeset/pr-771-2086142671.md
  client/package.json
  client/yarn.lock
Labels: size-xl, frontend

#769 chore: update TypeScript to version 5.6.2
  .changeset/pr-769-2086107111.md
  client/package.json
  client/yarn.lock
Labels: size-xs, frontend

#770 chore: update style components
  .changeset/pr-770-2086136734.md
  client/package.json
  client/packages/components/src/components/app-group/AppGroup.tsx
  client/packages/service-message/components/ServiceMessageCard.tsx
  client/yarn.lock
Labels: size-sm, frontend

#759 chore: remove unused hook use-store-current-view-id
  .changeset/pr-759-2080482692.md
  client/packages/core/src/context/components/ContextNotAvailableDialog.tsx
  client/packages/core/src/context/components/index.ts
  client/packages/core/src/context/index.ts
  client/packages/portal-core/src/hooks/index.ts
  client/packages/portal-core/src/hooks/use-store-current-view-id.ts
Labels: size-xs, frontend

#752 feat: onboard apps with context
  .changeset/pr-752-2076387967.md
  client/apps/portal-administration/src/components/Actions/ActivateSelectedButton.tsx
  client/apps/portal-administration/src/components/Actions/ActivateSelectedWithContextButton.tsx
  client/apps/portal-administration/src/components/Actions/EditSelectedButton.tsx
  client/apps/portal-administration/src/components/Actions/MakeGlobalAppsButton.tsx
  client/apps/portal-administration/src/components/Actions/RemoveAppsButton.tsx
  client/apps/portal-administration/src/components/AgStyle.tsx
  client/apps/portal-administration/src/components/OnboardedContexts/AddContext.tsx
  client/apps/portal-administration/src/components/Portal/ShowConfig.tsx
  client/apps/portal-administration/src/components/PortalApps/ActionBar.tsx
  client/apps/portal-administration/src/components/PortalApps/ContextAppSideSheet.tsx
  client/apps/portal-administration/src/components/PortalApps/PortalAppTable.tsx
  client/apps/portal-administration/src/hooks/use-add-app-with-context.ts
  client/apps/portal-administration/src/hooks/use-onboard-apps.ts
  client/apps/portal-administration/src/hooks/use-portal-apps.ts
  client/apps/portal-administration/src/hooks/use-portal-config-query.ts
  client/apps/portal-administration/src/pages/PortalApps.tsx
  client/apps/portal-administration/src/query/apps-mutations.ts
  client/apps/portal-administration/src/query/apps-queries.ts
  client/apps/portal-administration/src/types/index.ts
Labels: size-xl, frontend

#783 Feat/portal extension and environment
  .changeset/pr-783-2089020912.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/UpdatePortalConfiguration/UpdatePortalConfigurationCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalConfigurationDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/Portal.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/PortalConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/EntityConfigurations/PortalConfigurationConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240924100054_AddExtensionAndEnvironmentToPortalConfig.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240924100054_AddExtensionAndEnvironmentToPortalConfig.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/ProjectExecutionPortalContextModelSnapshot.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortalConfiguration.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiUpdatePortalConfigurationRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
Labels: backend

#786 fix: setup node version for apps pipelines to be node v21
  .changeset/pr-786-2090740118.md
  .github/workflows/common-release.yml
  .github/workflows/deploy-apps-test.yml
  client/apps/portal-administration/package.json
Labels: github-actions, size-xs

#787 Access admin check endpoint
  .changeset/pr-787-2090874541.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
Labels: size-xs, backend

#788 feat: access check on admin application
  .changeset/pr-788-2090898078.md
  client/apps/portal-administration/src/hooks/use-access.ts
  client/apps/portal-administration/src/pages/Root.tsx
Labels: size-sm, frontend

#790 chore: prod trigger
  .changeset/pr-790-2091101092.md
  client/packages/portal-client/package.json
Labels: size-xs, frontend

#792 fix: scrollbar on portal edit page
  .changeset/pr-792-2091178560.md
  client/apps/portal-administration/src/pages/Portal.tsx
Labels: size-xs, frontend

#795 fix: fixing side-sheet for apps
  .changeset/pr-795-2093365743.md
  client/packages/portal-ui/src/style-provider/globalStyles.ts
Labels: size-xs, frontend

#796 fix: add new route not adding double routes in pa app
  .changeset/pr-796-2093375130.md
  client/apps/portal-administration/src/components/PortalApps/ActionBar.tsx
  client/apps/portal-administration/src/context/RouterContext.tsx
  client/apps/portal-administration/src/context/actions/router-actions.ts
  client/apps/portal-administration/src/context/actions/updarte-route-router-action.test.ts
  client/apps/portal-administration/src/context/actions/update-route-field-router-action.test.ts
Labels: size-md, frontend

#798 fix: Add subTitle property to context items in useContextResolver hook
  .changeset/pr-798-2093415812.md
  client/packages/portal-core/src/hooks/use-context-resolver.ts
Labels: size-xs, frontend

#800 chore: update radixconfig
  .changeset/pr-800-2093589813.md
  radixconfig.yaml
Labels: size-xs

#801 chore: add milestones under feature flag default on
  .changeset/pr-801-2093607063.md
  client/packages/portal-client/src/lib/portal-framework-config.tsx
  client/packages/portal-pages/src/pages/project-page/Overview.tsx
Labels: size-xs, frontend
