Repository equinor/fusion-project-portal, pull requests merged in 2024-11, with the labels that each got.

#848 improvement: refactoring and various improvements
  .changeset/pr-848-2155869305.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/CacheManager.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/CacheOptions.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/FusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Infrastructure/Mappings/MappingProfile.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/EntityBase.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Infrastructure/QueryBase.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/IReadWriteContext.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/InfrastructureModule.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/ProjectExecutionPortalContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Program.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/appsettings.json
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/ContextTypeData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/FusionAppApiData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/FusionContextApiData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedAppData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedContextData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/PortalConfigurationData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/PortalData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Equinor.ProjectExecutionPortal.Tests.WebApi.csproj
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthHandler.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthOptions.cs
  clientBackend/src/Equinor.ProjectExecutionPortal.ClientBackend/Program.cs
Labels: size-xs, backend

#853 breaking: remove unused portal apps API endpoints, cleanup compiler warnings
  .changeset/pr-853-2163110665.md
  .editorconfig
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/CacheManager.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/FusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/ICacheManager.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Cache/IFusionAppsCache.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/ContextTypes/ContextTypeDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/ContextTypes/GetContextTypes/GetContextTypesQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApps/GetOnboardedAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextByContextIdQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextByExternalIdContextTypeQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/OnboardedContextDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortals/GetPortalsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalOnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/AppService/AppService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/ContextTypeService/ContextTypeService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/FusionAppsService/FusionAppsService.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/FusionAppsService/IFusionAppsService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/ContextType.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/PortalApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ApiControllerBase.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ContextTypeController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/ContextType/ApiContextType.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/FusionApp/ApiFusionApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/FusionApp/ApiFusionAppCategory.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/FusionApp/ApiFusionAppVersion.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardAppRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiUpdateOnboardedAppRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedContext/ApiOnboardedContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiPortalApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/PortalApp/ApiPortalOnboardedApp.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/ContextTypeControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Setup/IntegrationTestAuthHandler.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/TestFactory.cs
Labels: backend, size-lg

#846 chore(service-messages): migrate to new api and hub
  .changeset/pr-846-2155757224.md
  client/packages/portal-client/src/lib/portal-framework-config.tsx
  client/packages/service-message/provider/ServiceMessageProvider.tsx
  client/packages/service-message/query/use-service-message-query.ts
Labels: size-xs, frontend

#858 chore: Update Fusion Portal URLs in codebase
  .changeset/pr-858-2169275298.md
  client/packages/components/src/components/my-allocations-tab/MyAllocationTab.test.tsx
  client/packages/portal-client/src/portal.config.feature.json
  client/packages/portal-client/src/portal.config.json
  client/packages/utils/src/url/fusion-portal-url.ts
Labels: size-xs, frontend

#862 refactor: Align portal administration application with the new app management models
  .changeset/pr-862-2174620281.md
  client/apps/portal-administration/src/components/Actions/ActivateSelectedWithContextButton.tsx
  client/apps/portal-administration/src/components/PortalApps/ContextAppSideSheet.tsx
  client/apps/portal-administration/src/query/apps-mutations.ts
  client/apps/portal-administration/src/query/apps-queries.ts
  client/apps/portal-administration/src/types/index.ts
Labels: size-xs, frontend

#855 feat: add audit info on certain endpoints
  .changeset/pr-855-2169145784.md
  .editorconfig
  backend/src/Equinor.ProjectExecutionPortal.Application/Events/Common/EventDispatcher.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/AuditDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/ContextTypes/GetContextTypes/GetContextTypesQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApp/GetOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/GetOnboardedApps/GetOnboardedAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextByContextIdQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContext/GetOnboardedContextByExternalIdContextTypeQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedContexts/GetOnboardedContexts/GetOnboardedContextsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortal/GetPortalQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalAppKeys/GetContextualAndGlobalAppKeysByPortalAndContextQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalAppKeys/GetGlobalAppKeysForPortalQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalApps/GetContextualAndGlobalAppsByPortalAndContextQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalApps/GetGlobalAppsForPortalQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalConfiguration/GetPortalConfigurationQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalOnboardedApp/GetPortalOnboardedAppQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortalOnboardedApps/GetPortalOnboardedAppsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortals/GetPortalsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalConfigurationDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/Audit/ICreationAuditable.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/AuditableEntityBase.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/Events/PortalApplicationAddedEvent.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/QueryBase.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/Time/SystemTimeProvider.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Common/Time/TimeService.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Equinor.ProjectExecutionPortal.Domain.csproj
  backend/src/Equinor.ProjectExecutionPortal.Domain/Infrastructure/QueryBase.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/IEventDispatcher.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Interfaces/ITimeProvider.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/ProjectExecutionPortalContext.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/ApiAudit.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedAppExpanded.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortalConfiguration.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/UserData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AssertHelpers.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Misc/ApplicationDbContextExtension.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/TestFactory.cs
Labels: backend, size-lg

#867 fix: update Node.js version to 20 and bump portal-administration
  .changeset/pr-867-2189754879.md
  .github/workflows/common-release.yml
  client/apps/portal-administration/package.json
Labels: github-actions, size-xs, frontend
