Repository equinor/fusion-project-portal, pull requests merged in 2024-01, with the labels that each got.

#522 fix: fix for review and url handling on legacy apps
  .changeset/pr-522-1684905759.md
  client/packages/portal-client/src/lib/portal-framework-config.tsx
  client/packages/portal-client/src/pages/AppPage/AppPage.tsx
Labels: size-sm, frontend

#520 feat: task as in fusion plus spus tweeks
  .changeset/pr-520-1682837218.md
  client/packages/components/src/components/task/Task.tsx
  client/packages/components/src/components/task/Tasks.tsx
  client/packages/components/src/components/task/components/TaskChip.tsx
  client/packages/components/src/components/task/components/TaskItem.tsx
  client/packages/components/src/components/task/components/TaskKPI.tsx
  client/packages/components/src/components/task/components/TaskList.tsx
  client/packages/components/src/components/task/components/TaskNav.tsx
  client/packages/components/src/components/task/hooks/use-assignment.ts
  client/packages/components/src/components/task/hooks/use-client-width.ts
  client/packages/components/src/components/task/hooks/use-task-count.ts
  client/packages/components/src/components/task/queries/fusion-meetings-queries.ts
  client/packages/components/src/components/task/queries/fusion-task-queries.ts
  client/packages/components/src/components/task/queries/query-ncr-request-queries.ts
  client/packages/components/src/components/task/types/ query-task.ts
  client/packages/components/src/components/task/types/fusion-task.ts
  client/packages/components/src/components/task/types/meetings-task.ts
  client/packages/components/src/components/task/types/pims-task.ts
  client/packages/components/src/components/task/types/procosys-task.ts
  client/packages/components/src/components/task/types/sheared.ts
  client/packages/components/src/components/task/types/task.ts
  client/packages/components/src/components/task/utils/merge-refs.ts
  client/packages/components/src/components/task/utils/time.ts
  client/packages/components/src/components/task/work-assigned/GroupAssignments.tsx
  client/packages/components/src/components/task/work-assigned/WorkAssigned.tsx
  client/packages/components/src/components/task/work-assigned/assignment-queries.ts
  client/packages/components/src/index.ts
  client/packages/core/src/app/utils/app-get-legacy-client-config.ts
  client/packages/portal-client/src/lib/portal-framework-config.tsx
  client/packages/portal-core/src/portal-actions/portal-actions-config.tsx
  client/packages/portal-ui/src/index.ts
  client/packages/portal-ui/src/task/work-assigned/Tasks.tsx
  client/packages/portal-ui/src/task/work-assigned/assignment-queries.ts
  client/packages/portal-ui/src/task/work-assigned/use-assignment.ts
Labels: size-xl, frontend

#526 fix: my assignments loading when you have noe
  .changeset/pr-526-1686345305.md
  client/packages/components/src/components/task/Tasks.tsx
Labels: size-xs, frontend

#527 chore: update fusion deps
  .changeset/pr-527-1686952277.md
  client/package.json
  client/packages/components/src/components/service-now/components/AttachmentsPartialFail.tsx
  client/yarn.lock
Labels: size-xl, frontend

#532 [Snyk] Security upgrade vite from 4.4.9 to 4.5.2
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs

#489 [Snyk] Upgrade @types/react from 17.0.64 to 17.0.70
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs

#535 chore: update all vite deps
  .changeset/pr-535-1693185060.md
  client/package.json
  client/yarn.lock
Labels: size-xl, frontend

#493 [Snyk] Upgrade @equinor/fusion from 3.4.11 to 3.4.13
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-xs

#538 [Snyk] Upgrade styled-components from 6.1.1 to 6.1.6
  legacyAppLoader/package.json
  legacyAppLoader/yarn.lock
Labels: size-sm

#544 Update pull_request_template.md
  .changeset/pr-544-1695379316.md
  .github/pull_request_template.md
Labels: github-actions, size-xs

#543 chore: Update issue_template.md
  .changeset/pr-543-1695377094.md
  .github/issue_template.md
Labels: github-actions, size-xs

#546 Security upgrade Microsoft.Data.SqlClient from 5.1.3 to 5.1.4
  .changeset/pr-546-1695397531.md
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
Labels: size-xs, backend

#551 chore: remove code duplicate
  .changeset/pr-551-1697125700.md
  client/packages/portal-client/src/main.tsx
Labels: size-xs, frontend

#564 chore: update packages
  .changeset/pr-564-1704025311.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Equinor.ProjectExecutionPortal.Application.csproj
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Equinor.ProjectExecutionPortal.WebApi.csproj
Labels: size-xs, backend
