Repository equinor/fusion-project-portal, pull requests merged in 2024-08, with the labels that each got.

#676 fix: update en fix all linting problems
  .changeset/pr-676-2005320517.md
  client/.eslintrc.json
  client/eslint.config.mjs
  client/package.json
  client/packages/components/src/components/task/queries/fusion-meetings-queries.ts
  client/packages/core/src/app/utils/app-element.test.ts
  client/packages/core/src/context/types/relations.ts
  client/packages/core/src/modules/portal-config/configurator.ts
  client/packages/core/src/modules/portal-config/hooks/use-portal-apps.ts
  client/packages/core/src/modules/portal-config/provider.ts
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
  client/packages/portal-core/src/framework-configurator/app-configurator.ts
  client/packages/portal-pages/src/pages/facility-page/FacilityPage.tsx
  client/packages/portal-pages/src/pages/project-page/components/project-wizard/WizardStep.tsx
  client/packages/utils/src/rxjs/observable-proxy.ts
  client/yarn.lock
Labels: size-lg, frontend

#680 feat: use buildKit and buildCache in radix
  .changeset/pr-680-2005667888.md
  clientBackend.Dockerfile
  radixconfig.yaml
Labels: size-xs

#682 fix: change node version to 20.1
  .changeset/pr-682-2005722119.md
  clientBackend.Dockerfile
Labels: size-xs

#674 fix: Fixing application side-sheets so they display correctly under the top bar.
  .changeset/pr-674-2003850242.md
  client/packages/portal-client/src/components/portal-side-sheet/PortalSideSheet.tsx
  client/packages/portal-ui/src/style-provider/globalStyles.ts
Labels: size-xs, frontend

#673 feat: list potentional response codes in swagger
  .changeset/pr-673-1966365876.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/ContextTypes/AddContextType/AddContextTypeCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/ContextTypes/RemoveContextType/RemoveContextTypeCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/AddContextTypeToOnboardedApp/AddContextTypeToOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/AddContextAppToPortal/AddContextAppToPortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/AddContextTypeToPortal/AddContextTypeToPortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/CreatePortal/CreatePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/BundleController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ContextTypeController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/FusionController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
Labels: size-md, backend

#687 fix: Highlight all text when selecting breadcrumb search field
  .changeset/pr-687-2008126638.md
  client/packages/portal-core/src/context-selector/ContextSelector.tsx
Labels: size-xs, frontend

#685 fix: Make application list scrollable on smaller screens
  .changeset/pr-685-2008088683.md
  client/packages/portal-client/src/components/portal-menu/PortalMenu.tsx
Labels: size-xs, frontend

#686 fix: :lock: Update styled-components to safe version
  .changeset/pr-686-2008093354.md
  client/package.json
Labels: size-xs, frontend

#692 Bump sql client and sql server version
  .changeset/pr-692-2014721669.md
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Equinor.ProjectExecutionPortal.Infrastructure.csproj
Labels: size-xs, backend

#695 Feat: remove set as default
  .changeset/pr-695-2016990555.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/SetPortalAsDefault/SetPortalAsDefaultCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/Portal.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240813084450_RemoveIsDefault.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240813084450_RemoveIsDefault.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/ProjectExecutionPortalContextModelSnapshot.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiSetPortalAsDefaultRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AssertHelpers.cs
Labels: backend

#700 feat: add context-types to put-endpoint
  .changeset/pr-700-2019222151.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/UpdatePortal/UpdatePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiUpdatePortalRequest.cs
Labels: size-xs, backend

#697 fix: tests
  .changeset/pr-697-2018820445.md
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedContextControllerTests.cs
Labels: size-xs, backend

#691 fix: menu not closing when selecting favorite
  .changeset/pr-691-2014284277.md
  client/packages/components/src/components/app-card/components/PinButton/index.tsx
Labels: size-xs, frontend

#689 fix: Project portal logging empty object for context change to Fusion features endpoint
  .changeset/pr-689-2008366405.md
  client/packages/portal-client/src/lib/feature-logger.ts
Labels: size-xs, frontend

#702 feat: add context-types to put endpoint
  .changeset/pr-702-2020907790.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/UpdateOnboardedApp/UpdateOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiUpdateOnboardedAppRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
Labels: size-xs, backend

#704 feat: remove order and islegacy flag
  .changeset/pr-704-2022804484.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/OnboardApp/OnboardAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/OnboardedApps/UpdateOnboardedApp/UpdateOnboardedAppCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/CreatePortal/CreatePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Commands/Portals/UpdatePortal/UpdatePortalCommand.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/OnboardedApps/OnboardedAppDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/GetPortals/GetPortalsQuery.cs
  backend/src/Equinor.ProjectExecutionPortal.Application/Queries/Portals/PortalDto.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/OnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.Domain/Entities/Portal.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240815131013_RemoveOrderFromPortalAndIsLegacyFromOnboardedApps.Designer.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/20240815131013_RemoveOrderFromPortalAndIsLegacyFromOnboardedApps.cs
  backend/src/Equinor.ProjectExecutionPortal.Infrastructure/Migrations/ProjectExecutionPortalContextModelSnapshot.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardAppRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiUpdateOnboardedAppRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiCreatePortalRequest.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiUpdatePortalRequest.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/OnboardedAppsData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/Data/PortalData.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/AssertHelpers.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/OnboardedAppControllerTests.cs
  backend/src/tests/Equinor.ProjectExecutionPortal.Tests.WebApi/IntegrationTests/PortalControllerTests.cs
Labels: size-md, backend

#712 feat: add context-types as array of string
  .changeset/pr-712-2027113298.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/OnboardedApp/ApiOnboardedApp.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/ViewModels/Portal/ApiPortal.cs
Labels: size-xs, backend
