Repository equinor/fusion-project-portal, pull requests merged in 2025-01, with the labels that each got.

#904 chore: update fusion ci urls
  .changeset/pr-904-2261554183.md
  client/apps/legacyAppLoader/app.config.ts
  client/packages/core/src/app/utils/app-get-legacy-client-config.ts
Labels: size-xs, frontend

#903 feat: Add options endpoints for API resources
  .changeset/pr-899-2238967603.md
  .changeset/pr-903-2243716883.md
  backend/src/Equinor.ProjectExecutionPortal.Application/Services/PortalService/PortalService.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Extensions/AuthorizationServiceExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Extensions/RequirementBuilderExtensions.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Policies.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Authorization/Requirements/PortalManageRequirement.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ApiControllerBase.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ContextTypeController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedAppController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/OnboardedContextController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/PortalController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
  backend/src/Equinor.ProjectExecutionPortal.WebApi/DiModules/ApplicationModule.cs
Labels: backend, size-lg

#907 chore: Update SignalR hub path for servicemessages
  .changeset/pr-907-2263833125.md
  client/packages/portal-client/src/lib/portal-framework-config.tsx
Labels: size-xs, frontend

#908 feat: Refactor access management
  .changeset/pr-908-2263888237.md
  .github/CODEOWNERS
  client/apps/portal-administration/src/access/accessMap.ts
  client/apps/portal-administration/src/access/hooks/useAccess.ts
  client/apps/portal-administration/src/access/optionRequestChecker.ts
  client/apps/portal-administration/src/components/OnboardedContexts/ContextType.tsx
  client/apps/portal-administration/src/components/OnboardedContexts/ContextTypeTable.tsx
  client/apps/portal-administration/src/components/Portal/EditPortalForm.tsx
  client/apps/portal-administration/src/components/Portal/FormActionBar.tsx
  client/apps/portal-administration/src/components/Portals/CreatePortalForm.tsx
  client/apps/portal-administration/src/components/Router/RouterRoot.tsx
  client/apps/portal-administration/src/components/Router/RouterTree.tsx
  client/apps/portal-administration/src/hooks/use-access.ts
  client/apps/portal-administration/src/pages/AdminCreatePortal.tsx
  client/apps/portal-administration/src/pages/CreatePortal.tsx
  client/apps/portal-administration/src/pages/GettingStated.tsx
  client/apps/portal-administration/src/pages/LandingPage.tsx
  client/apps/portal-administration/src/pages/PortalApps.tsx
  client/apps/portal-administration/src/pages/RouterConfig.tsx
  client/packages/core/src/modules/portal-config/portal.ts
Labels: size-lg, frontend

#906 feat: Remove unused profile controller
  .changeset/pr-906-2263058860.md
  backend/src/Equinor.ProjectExecutionPortal.WebApi/Controllers/ProfileController.cs
Labels: size-xs, backend

#909 fix: update subtitle to use displayName instead of name
  .changeset/pr-909-2283732642.md
  client/packages/components/src/components/app-search/AppSearchBar.tsx
Labels: size-xs, frontend
